In [195]:
import pandas as pd
from datetime import datetime
from dotenv import dotenv_values
from binance.client import Client

In [196]:
#https://python-binance.readthedocs.io/en/latest/binance.html?highlight=get_avg_price#binance.client.Client.get_avg_price
#https://binance-docs.github.io/apidocs/spot/en/#current-average-price
#https://python-binance.readthedocs.io/en/latest/_modules/binance/client.html?highlight=get_avg_price#

In [197]:
root_path=r'D:\BC-World\Video\DeFi Usage\AAA_DeFi_Doc_TRansaction\Transaction'

buildtime = datetime.now().strftime('%d%m%y_%H%M')


# copy file from last export to  Binance Trade History_From2022-02-01.xlsx
trans_path=f'{root_path}\\MasterFile\\Raw_BinanceTradeHistory.xlsx'
master_path=f'{root_path}\\MasterFile\\Master_BinanceTradeHistory.xlsx'


tran2s_path2=f'{root_path}\\Report\\Summary_TradeHistory_At_{buildtime}.xlsx'


add_path=f'{root_path}\\MasterFile\\Addtional_TranancTrade OutOfBN-Trade.xlsx'

coinPairList=['USDT','BUSD','USDC','DAI','']

fund_path=r'D:\AB_DB\AB_Cryptos_Files\database\crypto_db.db'

path_config=r'D:\AB_DB\Script_ImportData'

colsList=['DateTime(UTC)','Symbol','Type','Price','Amount','Total']
colsDelete=['Date(UTC)','Market','Fee','Fee Coin']

main_pair='BUSD'
#colsList=['DateTime(UTC)','Symbol','PairCoin','Market','Type','Price','Amount','Total','Fee','Fee Coin']

In [198]:
config_values= dotenv_values(dotenv_path=f'{path_config}\\.env')
api_key = config_values['bn_key']
api_secret =config_values['bn_secrete']
client=Client(api_key,api_secret)

In [199]:
df_trasns=pd.read_excel(trans_path,engine='openpyxl')
df_trasns['DateTime(UTC)']=pd.to_datetime(df_trasns['Date(UTC)'],format='%Y-%m-%d %H:%M:%S')
df_trasns.info()
df_trasns.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(UTC)      379 non-null    object
 1   Market         379 non-null    object
 2   Type           379 non-null    object
 3   Price          379 non-null    float64
 4   Amount         379 non-null    float64
 5   Total          379 non-null    float64
 6   Fee            379 non-null    float64
 7   Fee Coin       371 non-null    object
 8   DateTime(UTC)  379 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 26.8+ KB

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,DateTime(UTC)
374,2022-06-01 14:36:22,BNBBUSD,BUY,312.50,0.03800,11.87500,0.000000,BNB,2022-06-01 14:36:22
375,2022-06-01 14:35:06,BTCBUSD,BUY,31222.00,0.00038,11.86436,0.000000,BNB,2022-06-01 14:35:06
376,2022-06-01 14:35:06,BTCBUSD,BUY,31222.00,0.00035,10.92770,0.000000,BNB,2022-06-01 14:35:06
377,2022-06-01 04:09:20,SOLUSDT,SELL,44.55,0.23000,10.24650,0.000024,BNB,2022-06-01 04:09:20
378,2022-06-01 04:02:55,MATICBUSD,BUY,0.65,16.60000,10.79000,0.000025,BNB,2022-06-01 04:02:55

In [200]:
df_addTran=pd.read_excel(add_path,engine='openpyxl')
df_addTran.info()
df_addTran.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  15 non-null     datetime64[ns]
 1   Symbol         15 non-null     object
 2   Type           15 non-null     object
 3   Price          15 non-null     float64
 4   Amount         15 non-null     float64
 5   Total          15 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 848.0+ bytes

         DateTime(UTC) Symbol  Type       Price     Amount      Total
10 2022-03-07 08:00:00   AVAX  SELL   72.090000   0.950000  68.485500
11 2022-03-07 08:00:00   AVAX  SELL   75.920000   0.662663  50.309348
12 2022-05-10 08:00:00    SOL  SELL   67.050000   0.200000  13.410000
13 2022-05-10 14:00:00    UST  SELL    0.901250  10.000000   9.012500
14 2022-05-25 14:00:00    BNB   BUY  334.979212   0.050750  17.000195

In [201]:
def replance_pair_coin_with_empty(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=x.replace(pair,'')
        
   return x     
def sete_pair_coin_with(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=pair       
   return x     
print("List All transaction in Binance")           
df_trasns['Symbol']=df_trasns['Market']               
df_trasns['Symbol']=df_trasns['Market'].apply( replance_pair_coin_with_empty)
# df_trasns['PairCoin']=df_trasns['Market'].apply( sete_pair_coin_with)

# exclude stablecoin
df_trasns=df_trasns[ ~df_trasns['Symbol'] .isin(coinPairList)]


df_trasns=df_trasns.drop(columns=colsDelete)
df_trasns=df_trasns[colsList]
df_trasns.info()
df_trasns

List All transaction in Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 378
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  352 non-null    datetime64[ns]
 1   Symbol         352 non-null    object
 2   Type           352 non-null    object
 3   Price          352 non-null    float64
 4   Amount         352 non-null    float64
 5   Total          352 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 19.2+ KB

          DateTime(UTC) Symbol  Type       Price     Amount      Total
0   2022-01-03 04:48:17    UST   BUY      1.0018  149.00000  149.26820
1   2022-01-03 04:50:39    UST   BUY      1.0018    9.00000    9.01620
2   2022-01-12 07:53:03    UST   BUY      1.0004  149.00000  149.05960
3   2022-01-13 05:17:12    UST   BUY      1.0004  151.00000  151.06040
4   2022-01-17 16:23:15    UST   BUY      1.0007  179.00000  179.12530
..                  ...    ...   ...         ...        ...        ...
374 2022-06-01 14:36:22    BNB   BUY    312.5000    0.03800   11.87500
375 2022-06-01 14:35:06    BTC   BUY  31222.0000    0.00038   11.86436
376 2022-06-01 14:35:06    BTC   BUY  31222.0000    0.00035   10.92770
377 2022-06-01 04:09:20    SOL  SELL     44.5500    0.23000   10.24650
378 2022-06-01 04:02:55  MATIC   BUY      0.6500   16.60000   10.79000

[352 rows x 6 columns]

In [202]:
print("Concate addtional transaction out of Binance")
df_trasns=pd.concat([df_trasns,df_addTran])
df_trasns=df_trasns.sort_values(by='DateTime(UTC)', ascending=False)
df_trasns.info()
df_trasns

Concate addtional transaction out of Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 367 entries, 371 to 0
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  367 non-null    datetime64[ns]
 1   Symbol         367 non-null    object
 2   Type           367 non-null    object
 3   Price          367 non-null    float64
 4   Amount         367 non-null    float64
 5   Total          367 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 20.1+ KB

          DateTime(UTC) Symbol  Type       Price     Amount      Total
371 2022-06-01 16:09:21    BTC   BUY  30530.0000    0.00036   10.99080
372 2022-06-01 15:21:06    BTC  SELL  31024.0000    0.00033   10.23792
354 2022-06-01 14:36:44  MATIC   BUY      0.6250   22.40000   14.00000
373 2022-06-01 14:36:44  MATIC   BUY      0.6250   22.40000   14.00000
374 2022-06-01 14:36:22    BNB   BUY    312.5000    0.03800   11.87500
..                  ...    ...   ...         ...        ...        ...
4   2022-01-17 16:23:15    UST   BUY      1.0007  179.00000  179.12530
3   2022-01-13 05:17:12    UST   BUY      1.0004  151.00000  151.06040
2   2022-01-12 07:53:03    UST   BUY      1.0004  149.00000  149.05960
1   2022-01-03 04:50:39    UST   BUY      1.0018    9.00000    9.01620
0   2022-01-03 04:48:17    UST   BUY      1.0018  149.00000  149.26820

[367 rows x 6 columns]

In [203]:
# symbol="SOL"
# xxx=df_trasns.query("Symbol==@symbol")
# xxx
print("Show dupplicated record")
duplicateRows = df_trasns[df_trasns.duplicated(keep=False)]
print(duplicateRows.info())
duplicateRows

Show dupplicated record
<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 354 to 195
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  58 non-null     datetime64[ns]
 1   Symbol         58 non-null     object
 2   Type           58 non-null     object
 3   Price          58 non-null     float64
 4   Amount         58 non-null     float64
 5   Total          58 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 3.2+ KB
None

          DateTime(UTC) Symbol  Type         Price     Amount       Total
354 2022-06-01 14:36:44  MATIC   BUY      0.625000   22.40000   14.000000
373 2022-06-01 14:36:44  MATIC   BUY      0.625000   22.40000   14.000000
374 2022-06-01 14:36:22    BNB   BUY    312.500000    0.03800   11.875000
355 2022-06-01 14:36:22    BNB   BUY    312.500000    0.03800   11.875000
356 2022-06-01 14:35:06    BTC   BUY  31222.000000    0.00038   11.864360
376 2022-06-01 14:35:06    BTC   BUY  31222.000000    0.00035   10.927700
375 2022-06-01 14:35:06    BTC   BUY  31222.000000    0.00038   11.864360
357 2022-06-01 14:35:06    BTC   BUY  31222.000000    0.00035   10.927700
377 2022-06-01 04:09:20    SOL  SELL     44.550000    0.23000   10.246500
358 2022-06-01 04:09:20    SOL  SELL     44.550000    0.23000   10.246500
378 2022-06-01 04:02:55  MATIC   BUY      0.650000   16.60000   10.790000
359 2022-06-01 04:02:55  MATIC   BUY      0.650000   16.60000   10.790000
281 2022-05-11 14:26:31   AVAX  SELL     35.640000    0.56000   19.958400
280 2022-05-11 14:26:31   AVAX  SELL     35.640000    0.56000   19.958400
279 2022-05-11 13:54:42    SOL  SELL     56.010000    0.33000   18.483300
278 2022-05-11 13:54:42    SOL  SELL     56.010000    0.33000   18.483300
277 2022-05-11 13:35:48    UST  SELL      0.394409   50.00000   19.720450
276 2022-05-11 13:35:48    UST  SELL      0.394409   50.00000   19.720450
274 2022-05-11 13:21:20    UST  SELL      0.390000  150.00000   58.500000
275 2022-05-11 13:21:20    UST  SELL      0.390000  150.00000   58.500000
272 2022-05-11 13:20:45    UST  SELL      0.370000   50.00000   18.500000
273 2022-05-11 13:20:45    UST  SELL      0.370000   50.00000   18.500000
270 2022-05-11 13:06:49    UST  SELL      0.323156   50.00000   16.157800
271 2022-05-11 13:06:49    UST  SELL      0.323156   50.00000   16.157800
268 2022-05-11 13:03:41    UST  SELL      0.318938  112.00000   35.721056
269 2022-05-11 13:03:41    UST  SELL      0.318938  112.00000   35.721056
266 2022-05-11 13:00:25    UST  SELL      0.295937  100.00000   29.593700
267 2022-05-11 13:00:25    UST  SELL      0.295937  100.00000   29.593700
265 2022-05-11 12:07:37  MATIC  SELL      0.839000   12.20000   10.235800
264 2022-05-11 12:07:37  MATIC  SELL      0.839000   12.20000   10.235800
263 2022-05-10 21:14:41    UST  SELL      0.894800  100.00000   89.480000
262 2022-05-10 21:14:41    UST  SELL      0.894800  100.00000   89.480000
259 2022-05-10 15:58:27    UST  SELL      0.905500  188.00000  170.234000
260 2022-05-10 15:58:27    UST  SELL      0.905500  188.00000  170.234000
257 2022-05-10 15:57:29    UST  SELL      0.905400  200.00000  181.080000
258 2022-05-10 15:57:29    UST  SELL      0.905400  200.00000  181.080000
235 2022-05-08 18:03:33    BNB  SELL    354.100000    0.04200   14.872200
236 2022-05-08 18:03:33    BNB  SELL    354.100000    0.04200   14.872200
217 2022-05-05 03:02:44   AVAX  SELL     68.000000    0.24000   16.320000
216 2022-05-05 03:02:44   AVAX  SELL     68.000000    0.24000   16.320000
214 2022-05-04 18:54:03   AVAX  SELL     64.300000    0.25000   16.075000
215 2022-05-04 18:54:03   AVAX  SELL     64.300000    0.25000   16.075000
213 2022-05-04 18:49:15    ETH  SELL   2899.000000    0.00410   11.885900
212 2022-05-04 18:49:15    ETH  SELL   2899.000000    0.00410   11.885900
211 2022-05-04 11:27:02    ETH  SELL   2880.000000    0.00420   12.096000
210 2022-05-04 11:27:02    ETH  SELL   2880.000000    0.00420   12.096000
208 2022-05-03 19:23:58    SOL  SELL     85.040000    0.04000    3.401600
209 2022-05-03 19:23:58    SOL  SELL     85.040000    0.10000    8.504000
207 2022-05-03 19:23:58    SOL  SELL     85.040000    0.10000    8.504000
206 2022-05-03 19:23:58    SOL  SELL     85.040000    0.04000    3.401600
201 2022-05-01 06:05:58   AVAX  SELL     60.000000    0.24000   14.400000
202 2022-05-01 06:05:58   AVAX  SELL     60.000000    0.24000   14.400000
199 2022-05-01 04:48:06    BNB  SELL    382.100000    0.04600   17.576600
200 2022-05-01 04:48:06    BNB  SELL    382.100000    0.04600   17.576600
198 2022-05-01 04:46:32    BTC  SELL  37951.410000    0.00033   12.523965
197 2022-05-01 04:46:32    BTC  SELL  37951.410000    0.00033   12.523965
196 2022-05-01 04:45:28    ETH  SELL   2771.100000    0.00460   12.747060
195 2022-05-01 04:45:28    ETH  SELL   2771.100000    0.00460   12.747060

In [204]:
required_drop_dup=True

In [205]:
if required_drop_dup:
    df_trasns=df_trasns.drop_duplicates(keep='first')
    df_trasns.info()
    df_trasns.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338 entries, 371 to 0
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  338 non-null    datetime64[ns]
 1   Symbol         338 non-null    object
 2   Type           338 non-null    object
 3   Price          338 non-null    float64
 4   Amount         338 non-null    float64
 5   Total          338 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 18.5+ KB

In [206]:
duplicateRows = df_trasns[df_trasns.duplicated()]
if(len(duplicateRows)>0):
    raise ("Keep having duplicated rows")
else:
    print("no duplicated rows")

no duplicated rows

In [207]:
print("Agg transaction")
groupby_cols=['Symbol','Type']
agg_cols=['Amount','Total']
df_summary=df_trasns.groupby(groupby_cols,as_index=False)[agg_cols].sum()
df_summary['AvgPrice']=df_summary['Total']/df_summary['Amount']
df_summary=df_summary.round(5)
df_summary

Agg transaction

   Symbol  Type      Amount       Total     AvgPrice
0    ATOM   BUY    13.48000   398.44960     29.55858
1    ATOM  SELL    14.05000   356.18690     25.35138
2    AVAX   BUY    12.08755   896.13613     74.13712
3    AVAX  SELL    12.21432   733.28059     60.03450
4     BNB   BUY     1.50202   583.60250    388.54511
5     BNB  SELL     0.67600   235.84420    348.88195
6     BTC   BUY     0.00981   375.25454  38252.24681
7     BTC  SELL     0.00473   178.59825  37758.61478
8     ETH   BUY     0.28040   745.42175   2658.42279
9     ETH  SELL     0.21358   534.86447   2504.24783
10   LUNA   BUY     0.35000    29.38950     83.97000
11   LUNA  SELL     0.35000    24.13950     68.97000
12  MATIC   BUY   430.99925   627.93717      1.45693
13  MATIC  SELL   366.73796   433.00587      1.18070
14    SOL   BUY     6.23000   531.56040     85.32270
15    SOL  SELL     5.34047   409.83713     76.74178
16    UST   BUY  2886.00000  2889.22210      1.00112
17    UST  SELL  2933.00000  2453.15171      0.83640

In [208]:
df_net_summary=df_summary.copy()
df_net_summary=df_summary.drop(columns=['AvgPrice'])
def negative_val_for_sell(item):
    if item['Type']=='SELL':
        item['Amount']=item['Amount']*-1
        item['Total']=item['Total']*-1
        
    return item    
df_net_summary=df_net_summary.apply(negative_val_for_sell,axis=1) 
df_net_summary

   Symbol  Type      Amount       Total
0    ATOM   BUY    13.48000   398.44960
1    ATOM  SELL   -14.05000  -356.18690
2    AVAX   BUY    12.08755   896.13613
3    AVAX  SELL   -12.21432  -733.28059
4     BNB   BUY     1.50202   583.60250
5     BNB  SELL    -0.67600  -235.84420
6     BTC   BUY     0.00981   375.25454
7     BTC  SELL    -0.00473  -178.59825
8     ETH   BUY     0.28040   745.42175
9     ETH  SELL    -0.21358  -534.86447
10   LUNA   BUY     0.35000    29.38950
11   LUNA  SELL    -0.35000   -24.13950
12  MATIC   BUY   430.99925   627.93717
13  MATIC  SELL  -366.73796  -433.00587
14    SOL   BUY     6.23000   531.56040
15    SOL  SELL    -5.34047  -409.83713
16    UST   BUY  2886.00000  2889.22210
17    UST  SELL -2933.00000 -2453.15171

In [209]:
def get_current_price(item):
    symbol_pair=f"{item['Symbol']}{main_pair}"
    current_price =float( client.get_symbol_ticker(symbol=symbol_pair)['price'])
    #current_price_Avg = client.get_avg_price(symbol="BTCUSDT")
    current_price=round(current_price,5)
    return current_price

In [210]:
groupby_cols=['Symbol']
agg_cols=['Amount','Total']
dfNet=df_net_summary.groupby(groupby_cols,as_index=False)[agg_cols].sum()
dfNet['Price']=dfNet.apply(get_current_price,axis=1)

dfNet['CurrentVal']=dfNet['Price']*dfNet['Amount']

dfNet['MyVal']=dfNet['CurrentVal']-dfNet['Total']

dfNet=dfNet[['Symbol','Amount','Price','CurrentVal','MyVal']]

dfNet

  Symbol    Amount        Price  CurrentVal       MyVal
0   ATOM  -0.57000      9.23000   -5.261100  -47.523800
1   AVAX  -0.12677     23.01000   -2.916978 -165.772518
2    BNB   0.82602    300.60000  248.301612  -99.456688
3    BTC   0.00508  29734.28000  151.050142  -45.606148
4    ETH   0.06682   1809.82000  120.932172  -89.625108
5   LUNA   0.00000      6.36760    0.000000   -5.250000
6  MATIC  64.26129      0.59600   38.299729 -156.631571
7    SOL   0.88953     38.53000   34.273591  -87.449679
8    UST -47.00000      0.06763   -3.178610 -439.249000

In [211]:
srNet_Sum=dfNet[['CurrentVal','MyVal']].sum()
dfNet_Sum=srNet_Sum.to_frame("Value")

In [212]:
dfNet_Sum.reset_index(inplace=True)

dfNet_Sum

        index        Value
0  CurrentVal   581.500559
1       MyVal -1136.564511

In [213]:
df_totalBuySell=df_summary.groupby(['Type'],as_index=False)[['Total']].sum()

In [214]:
df_totalBuySell

   Type       Total
0   BUY  7076.97369
1  SELL  5358.90862

In [215]:
#df_trasns.to_excel(tran2s_path2,index=False)
writer=pd.ExcelWriter(tran2s_path2,engine='xlsxwriter') 
df_totalBuySell.to_excel(writer, sheet_name="Total")
dfNet_Sum.to_excel(writer, sheet_name="PossitionVal",index=False) 
dfNet.to_excel(writer, sheet_name="NetSummary",index=False)   
df_summary.to_excel(writer, sheet_name="SummaryBuySell",index=False)   
df_trasns.to_excel(writer, sheet_name="Detail",index=False)

writer.save()

In [193]:
# https://exchangeratesapi.io/documentation/

In [217]:
df_trasns.to_excel(master_path,sheet_name='Master_BuySell')