In [42]:
import pandas as pd
from datetime import datetime
from dotenv import dotenv_values
from binance.client import Client
import os

In [43]:
#https://python-binance.readthedocs.io/en/latest/binance.html?highlight=get_avg_price#binance.client.Client.get_avg_price
#https://binance-docs.github.io/apidocs/spot/en/#current-average-price
#https://python-binance.readthedocs.io/en/latest/_modules/binance/client.html?highlight=get_avg_price#

In [44]:
is_py=True

In [45]:
q_start='2022-05-30 01:00'
q_end='2022-06-04'

# q_start=''
# q_end=''

In [46]:

if is_py:
    q_start = input("Enter start query(2019-01-01 01:00): ") or ''
    q_end = input("Enter end query(2019-01-01 01:00): ") or ''
    

    if q_start!='' and q_end!='':
        try:
            start_dt=datetime.strptime(q_start, "%Y-%m-%d")
            end_dt=datetime.strptime(q_end,"%Y-%m-%d")
            if start_dt>=end_dt:
               raise Exception(f"Error : {start_dt} can't be greater or equal to {end_dt}")
        except Exception as ex:
            raise ex


    if q_start!='' and q_end!='':
     print(f"Do you want to retrive data from {start_dt} to {end_dt} ?")
    else:
     print(f"Do you want to retrive all data ?")   
    press_y=input(f"Press y=True and n=False : ") 
    if press_y.lower()=='y':
     ok=True
    else:
     exit()

print(f"{q_start} -{q_end}")

2022-05-30 01:00 -2022-06-04

In [47]:
def replaceString(txt):
  specialChars =[' ',':'] 
  for specialChar in specialChars:
    txt = txt.replace(specialChar, '_')
  return txt 

title_start=replaceString(q_start)
title_end=replaceString(q_end)
print(title_start)
print(title_end)

2022-05-30_01_00
2022-06-04

In [48]:
root_path=r'D:\BC-World\CryptoTrans\BS-Trade'

buildtime = datetime.now().strftime('%d%m%y_%H%M')

# copy file from last export to  Binance Trade History_From2022-02-01.xlsx

trans_path=f'{root_path}\\Master\\Raw_BinanceTradeHistory.xlsx'
add_path=f'{root_path}\\Master\\Addtional_TranancTrade OutOfBN-Trade.xlsx'
master_path=f'{root_path}\\Master\\Master_BinanceTradeHistory.xlsx'


if q_start!='' and q_end!='':
    
    tran2s_path2=f'{root_path}\\THistReport_{title_start}-{title_end}_At_{buildtime}.xlsx'
else:
    tran2s_path2=f'{root_path}\\Report\\THistReport_At_{buildtime}.xlsx'
    
print(tran2s_path2)




coinPairList=['USDT','BUSD','USDC','DAI','']

fund_path=r'D:\AB_DB\AB_Cryptos_Files\database\crypto_db.db'

path_config=r'D:\AB_DB\Script_ImportData'

colsList=['DateTime(UTC)','Symbol','Type','Price','Amount','Total']
colsDelete=['Date(UTC)','Market','Fee','Fee Coin']

main_pair='BUSD'
#colsList=['DateTime(UTC)','Symbol','PairCoin','Market','Type','Price','Amount','Total','Fee','Fee Coin']

D:\BC-World\CryptoTrans\BS-Trade\THistReport_2022-05-30_01_00-2022-06-04_At_030622_1426.xlsx

In [49]:
config_values= dotenv_values(dotenv_path=f'{path_config}\\.env')
api_key = config_values['bn_key']
api_secret =config_values['bn_secrete']
client=Client(api_key,api_secret)

In [50]:
df_trasns=pd.read_excel(trans_path,engine='openpyxl')
df_trasns['DateTime(UTC)']=pd.to_datetime(df_trasns['Date(UTC)'],format='%Y-%m-%d %H:%M:%S')
df_trasns.info()
df_trasns.tail(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(UTC)      383 non-null    object
 1   Market         383 non-null    object
 2   Type           383 non-null    object
 3   Price          383 non-null    float64
 4   Amount         383 non-null    float64
 5   Total          383 non-null    float64
 6   Fee            383 non-null    float64
 7   Fee Coin       375 non-null    object
 8   DateTime(UTC)  383 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 27.1+ KB

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,DateTime(UTC)
363,2022-05-31 04:23:34,USDCBUSD,SELL,1.000,50.01000,50.010000,0.000000,BNB,2022-05-31 04:23:34
364,2022-05-30 13:20:01,SOLBUSD,BUY,45.000,0.31000,13.950000,0.000000,BNB,2022-05-30 13:20:01
365,2022-05-30 12:28:50,ETHBUSD,BUY,1881.000,0.00750,14.107500,0.000000,BNB,2022-05-30 12:28:50
366,2022-05-30 12:19:31,BNBBUSD,BUY,319.100,0.04700,14.997700,0.000035,BNB,2022-05-30 12:19:31
367,2022-05-30 12:14:35,BTCBUSD,BUY,30741.190,0.00014,4.303767,0.000010,BNB,2022-05-30 12:14:35
368,2022-05-30 12:14:35,BTCBUSD,BUY,30741.130,0.00045,13.833509,0.000033,BNB,2022-05-30 12:14:35
369,2022-05-30 12:11:21,SOLBUSD,BUY,46.180,0.23000,10.621400,0.000025,BNB,2022-05-30 12:11:21
370,2022-05-30 11:40:28,USDCBUSD,SELL,1.000,73.77000,73.770000,0.000000,BNB,2022-05-30 11:40:28
371,2022-06-01 16:09:21,BTCBUSD,BUY,30530.000,0.00036,10.990800,0.000000,BNB,2022-06-01 16:09:21
372,2022-06-01 15:21:06,BTCBUSD,SELL,31024.000,0.00033,10.237920,0.000000,BNB,2022-06-01 15:21:06
373,2022-06-01 14:36:44,MATICBUSD,BUY,0.625,22.40000,14.000000,0.000000,BNB,2022-06-01 14:36:44
374,2022-06-01 14:36:22,BNBBUSD,BUY,312.500,0.03800,11.875000,0.000000,BNB,2022-06-01 14:36:22
375,2022-06-01 14:35:06,BTCBUSD,BUY,31222.000,0.00038,11.864360,0.000000,BNB,2022-06-01 14:35:06
376,2022-06-01 14:35:06,BTCBUSD,BUY,31222.000,0.00035,10.927700,0.000000,BNB,2022-06-01 14:35:06
377,2022-06-01 04:09:20,SOLUSDT,SELL,44.550,0.23000,10.246500,0.000024,BNB,2022-06-01 04:09:20
378,2022-06-01 04:02:55,MATICBUSD,BUY,0.650,16.60000,10.790000,0.000025,BNB,2022-06-01 04:02:55
379,2022-06-02 22:07:30,BNBBUSD,SELL,307.000,0.04700,14.429000,0.000000,BNB,2022-06-02 22:07:30
380,2022-06-02 15:41:57,AVAXBUSD,SELL,24.500,0.87000,21.315000,0.000000,BNB,2022-06-02 15:41:57
381,2022-06-02 13:16:29,BTCBUSD,SELL,29619.930,0.00045,13.328969,0.000033,BNB,2022-06-02 13:16:29
382,2022-06-02 13:14:23,ETHBUSD,SELL,1800.430,0.00730,13.143139,0.000033,BNB,2022-06-02 13:14:23

In [51]:
# df_trasns[ (df_trasns['Market']=='ETHBUSD') & (df_trasns['Type']=='SBUY')]
if q_start!='' and q_end!='':
 df_trasns=df_trasns[ (df_trasns['DateTime(UTC)']>=q_start) & (df_trasns['DateTime(UTC)']<=q_end)]
 print(df_trasns.info())
 print(df_trasns)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 354 to 382
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(UTC)      29 non-null     object
 1   Market         29 non-null     object
 2   Type           29 non-null     object
 3   Price          29 non-null     float64
 4   Amount         29 non-null     float64
 5   Total          29 non-null     float64
 6   Fee            29 non-null     float64
 7   Fee Coin       29 non-null     object
 8   DateTime(UTC)  29 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 2.3+ KB
None
               Date(UTC)     Market  Type      Price    Amount      Total  \
354  2022-06-01 14:36:44  MATICBUSD   BUY      0.625  22.40000  14.000000
355  2022-06-01 14:36:22    BNBBUSD   BUY    312.500   0.03800  11.875000
356  2022-06-01 14:35:06    BTCBUSD   BUY  31222.000   0.00038  11.864360
357  2022-06-01 14:35:06    BTCBUSD   BUY  31222.000   0.00035  10.927700
358  2022-06-01 04:09:20    SOLUSDT  SELL     44.550   0.23000  10.246500
359  2022-06-01 04:02:55  MATICBUSD   BUY      0.650  16.60000  10.790000
360  2022-05-31 14:06:39    ETHBUSD   BUY   1931.000   0.00730  14.096300
361  2022-05-31 13:40:02    SOLBUSD   BUY     45.250   0.31000  14.027500
362  2022-05-31 06:38:50    ETHBUSD   BUY   1961.000   0.00860  16.864600
363  2022-05-31 04:23:34   USDCBUSD  SELL      1.000  50.01000  50.010000
364  2022-05-30 13:20:01    SOLBUSD   BUY     45.000   0.31000  13.950000
365  2022-05-30 12:28:50    ETHBUSD   BUY   1881.000   0.00750  14.107500
366  2022-05-30 12:19:31    BNBBUSD   BUY    319.100   0.04700  14.997700
367  2022-05-30 12:14:35    BTCBUSD   BUY  30741.190   0.00014   4.303767
368  2022-05-30 12:14:35    BTCBUSD   BUY  30741.130   0.00045  13.833509
369  2022-05-30 12:11:21    SOLBUSD   BUY     46.180   0.23000  10.621400
370  2022-05-30 11:40:28   USDCBUSD  SELL      1.000  73.77000  73.770000
371  2022-06-01 16:09:21    BTCBUSD   BUY  30530.000   0.00036  10.990800
372  2022-06-01 15:21:06    BTCBUSD  SELL  31024.000   0.00033  10.237920
373  2022-06-01 14:36:44  MATICBUSD   BUY      0.625  22.40000  14.000000
374  2022-06-01 14:36:22    BNBBUSD   BUY    312.500   0.03800  11.875000
375  2022-06-01 14:35:06    BTCBUSD   BUY  31222.000   0.00038  11.864360
376  2022-06-01 14:35:06    BTCBUSD   BUY  31222.000   0.00035  10.927700
377  2022-06-01 04:09:20    SOLUSDT  SELL     44.550   0.23000  10.246500
378  2022-06-01 04:02:55  MATICBUSD   BUY      0.650  16.60000  10.790000
379  2022-06-02 22:07:30    BNBBUSD  SELL    307.000   0.04700  14.429000
380  2022-06-02 15:41:57   AVAXBUSD  SELL     24.500   0.87000  21.315000
381  2022-06-02 13:16:29    BTCBUSD  SELL  29619.930   0.00045  13.328969
382  2022-06-02 13:14:23    ETHBUSD  SELL   1800.430   0.00730  13.143139

          Fee Fee Coin       DateTime(UTC)
354  0.000000      BNB 2022-06-01 14:36:44
355  0.000000      BNB 2022-06-01 14:36:22
356  0.000000      BNB 2022-06-01 14:35:06
357  0.000000      BNB 2022-06-01 14:35:06
358  0.000024      BNB 2022-06-01 04:09:20
359  0.000025      BNB 2022-06-01 04:02:55
360  0.000000      BNB 2022-05-31 14:06:39
361  0.000000      BNB 2022-05-31 13:40:02
362  0.000000      BNB 2022-05-31 06:38:50
363  0.000000      BNB 2022-05-31 04:23:34
364  0.000000      BNB 2022-05-30 13:20:01
365  0.000000      BNB 2022-05-30 12:28:50
366  0.000035      BNB 2022-05-30 12:19:31
367  0.000010      BNB 2022-05-30 12:14:35
368  0.000033      BNB 2022-05-30 12:14:35
369  0.000025      BNB 2022-05-30 12:11:21
370  0.000000      BNB 2022-05-30 11:40:28
371  0.000000      BNB 2022-06-01 16:09:21
372  0.000000      BNB 2022-06-01 15:21:06
373  0.000000      BNB 2022-06-01 14:36:44
374  0.000000      BNB 2022-06-01 14:36:22
375  0.000000      BNB 2022-06-01 14:35:06
376  0.000000      BNB 2022-06-01 14:35:06
377  0.000024      BNB 2022-06-01 04:09:20
378  0.000025      BNB 2022-06-01 04:02:55
379  0.000000      BNB 2022-06-02 22:07:30
380  0.000000      BNB 2022-06-02 15:41:57
381  0.000033      BNB 2022-06-02 13:16:29
382  0.000033      BNB 2022-06-02 13:14:23

In [52]:
df_addTran=pd.read_excel(add_path,engine='openpyxl')
df_addTran.info()
df_addTran.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  15 non-null     datetime64[ns]
 1   Symbol         15 non-null     object
 2   Type           15 non-null     object
 3   Price          15 non-null     float64
 4   Amount         15 non-null     float64
 5   Total          15 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 848.0+ bytes

         DateTime(UTC) Symbol  Type       Price     Amount      Total
10 2022-03-07 08:00:00   AVAX  SELL   72.090000   0.950000  68.485500
11 2022-03-07 08:00:00   AVAX  SELL   75.920000   0.662663  50.309348
12 2022-05-10 08:00:00    SOL  SELL   67.050000   0.200000  13.410000
13 2022-05-10 14:00:00    UST  SELL    0.901250  10.000000   9.012500
14 2022-05-25 14:00:00    BNB   BUY  334.979212   0.050750  17.000195

In [53]:
if q_start!='' and q_end!='':
 df_addTran=df_addTran[ (df_addTran['DateTime(UTC)']>=q_start) & (df_addTran['DateTime(UTC)']<=q_end)]
 print(df_addTran.info())
 print(df_addTran)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  0 non-null      datetime64[ns]
 1   Symbol         0 non-null      object
 2   Type           0 non-null      object
 3   Price          0 non-null      float64
 4   Amount         0 non-null      float64
 5   Total          0 non-null      float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 0.0+ bytes
None
Empty DataFrame
Columns: [DateTime(UTC), Symbol, Type, Price, Amount, Total]
Index: []

In [54]:
def replance_pair_coin_with_empty(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=x.replace(pair,'')
        
   return x     
def sete_pair_coin_with(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=pair       
   return x     
print("List All transaction in Binance")           
df_trasns['Symbol']=df_trasns['Market']               
df_trasns['Symbol']=df_trasns['Market'].apply( replance_pair_coin_with_empty)
# df_trasns['PairCoin']=df_trasns['Market'].apply( sete_pair_coin_with)

# exclude stablecoin
df_trasns=df_trasns[ ~df_trasns['Symbol'] .isin(coinPairList)]


df_trasns=df_trasns.drop(columns=colsDelete)
df_trasns=df_trasns[colsList]
df_trasns.info()
df_trasns

List All transaction in Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 354 to 382
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  27 non-null     datetime64[ns]
 1   Symbol         27 non-null     object
 2   Type           27 non-null     object
 3   Price          27 non-null     float64
 4   Amount         27 non-null     float64
 5   Total          27 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.5+ KB

          DateTime(UTC) Symbol  Type      Price    Amount      Total
354 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.000000
355 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.875000
356 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.864360
357 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.927700
358 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.246500
359 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.790000
360 2022-05-31 14:06:39    ETH   BUY   1931.000   0.00730  14.096300
361 2022-05-31 13:40:02    SOL   BUY     45.250   0.31000  14.027500
362 2022-05-31 06:38:50    ETH   BUY   1961.000   0.00860  16.864600
364 2022-05-30 13:20:01    SOL   BUY     45.000   0.31000  13.950000
365 2022-05-30 12:28:50    ETH   BUY   1881.000   0.00750  14.107500
366 2022-05-30 12:19:31    BNB   BUY    319.100   0.04700  14.997700
367 2022-05-30 12:14:35    BTC   BUY  30741.190   0.00014   4.303767
368 2022-05-30 12:14:35    BTC   BUY  30741.130   0.00045  13.833509
369 2022-05-30 12:11:21    SOL   BUY     46.180   0.23000  10.621400
371 2022-06-01 16:09:21    BTC   BUY  30530.000   0.00036  10.990800
372 2022-06-01 15:21:06    BTC  SELL  31024.000   0.00033  10.237920
373 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.000000
374 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.875000
375 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.864360
376 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.927700
377 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.246500
378 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.790000
379 2022-06-02 22:07:30    BNB  SELL    307.000   0.04700  14.429000
380 2022-06-02 15:41:57   AVAX  SELL     24.500   0.87000  21.315000
381 2022-06-02 13:16:29    BTC  SELL  29619.930   0.00045  13.328969
382 2022-06-02 13:14:23    ETH  SELL   1800.430   0.00730  13.143139

In [55]:
print("Concate addtional transaction out of Binance")
df_trasns=pd.concat([df_trasns,df_addTran])
df_trasns=df_trasns.sort_values(by='DateTime(UTC)', ascending=False)
df_trasns.info()
df_trasns

Concate addtional transaction out of Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 379 to 369
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  27 non-null     datetime64[ns]
 1   Symbol         27 non-null     object
 2   Type           27 non-null     object
 3   Price          27 non-null     float64
 4   Amount         27 non-null     float64
 5   Total          27 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.5+ KB

          DateTime(UTC) Symbol  Type      Price    Amount      Total
379 2022-06-02 22:07:30    BNB  SELL    307.000   0.04700  14.429000
380 2022-06-02 15:41:57   AVAX  SELL     24.500   0.87000  21.315000
381 2022-06-02 13:16:29    BTC  SELL  29619.930   0.00045  13.328969
382 2022-06-02 13:14:23    ETH  SELL   1800.430   0.00730  13.143139
371 2022-06-01 16:09:21    BTC   BUY  30530.000   0.00036  10.990800
372 2022-06-01 15:21:06    BTC  SELL  31024.000   0.00033  10.237920
373 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.000000
354 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.000000
355 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.875000
374 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.875000
376 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.927700
356 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.864360
357 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.927700
375 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.864360
358 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.246500
377 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.246500
359 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.790000
378 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.790000
360 2022-05-31 14:06:39    ETH   BUY   1931.000   0.00730  14.096300
361 2022-05-31 13:40:02    SOL   BUY     45.250   0.31000  14.027500
362 2022-05-31 06:38:50    ETH   BUY   1961.000   0.00860  16.864600
364 2022-05-30 13:20:01    SOL   BUY     45.000   0.31000  13.950000
365 2022-05-30 12:28:50    ETH   BUY   1881.000   0.00750  14.107500
366 2022-05-30 12:19:31    BNB   BUY    319.100   0.04700  14.997700
367 2022-05-30 12:14:35    BTC   BUY  30741.190   0.00014   4.303767
368 2022-05-30 12:14:35    BTC   BUY  30741.130   0.00045  13.833509
369 2022-05-30 12:11:21    SOL   BUY     46.180   0.23000  10.621400

In [56]:
if len(df_trasns.index)==0:
    print("No record to summarize tradig transaction")
    quit()

In [57]:
# symbol="SOL"
# xxx=df_trasns.query("Symbol==@symbol")
# xxx
print("Show dupplicated record")
duplicateRows = df_trasns[df_trasns.duplicated(keep=False)]
print(duplicateRows.info())
duplicateRows

Show dupplicated record
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 373 to 378
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  12 non-null     datetime64[ns]
 1   Symbol         12 non-null     object
 2   Type           12 non-null     object
 3   Price          12 non-null     float64
 4   Amount         12 non-null     float64
 5   Total          12 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 672.0+ bytes
None

          DateTime(UTC) Symbol  Type      Price    Amount     Total
373 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.00000
354 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.00000
355 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.87500
374 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.87500
376 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.92770
356 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.86436
357 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.92770
375 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.86436
358 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.24650
377 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.24650
359 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.79000
378 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.79000

In [58]:
required_drop_dup=True

In [59]:
if required_drop_dup:
    df_trasns=df_trasns.drop_duplicates(keep='first')
    df_trasns.info()
    df_trasns.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 379 to 369
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  21 non-null     datetime64[ns]
 1   Symbol         21 non-null     object
 2   Type           21 non-null     object
 3   Price          21 non-null     float64
 4   Amount         21 non-null     float64
 5   Total          21 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.1+ KB

In [60]:
duplicateRows = df_trasns[df_trasns.duplicated()]
if(len(duplicateRows)>0):
    raise ("Keep having duplicated rows")
else:
    print("no duplicated rows")

no duplicated rows

In [61]:
print("Agg transaction")
groupby_cols=['Symbol','Type']
agg_cols=['Amount','Total']
df_summary=df_trasns.groupby(groupby_cols,as_index=False)[agg_cols].sum()
df_summary['AvgPrice']=df_summary['Total']/df_summary['Amount']
df_summary=df_summary.round(5)
df_summary

Agg transaction

  Symbol  Type    Amount     Total     AvgPrice
0   AVAX  SELL   0.87000  21.31500     24.50000
1    BNB   BUY   0.08500  26.87270    316.14941
2    BNB  SELL   0.04700  14.42900    307.00000
3    BTC   BUY   0.00168  51.92014  30904.84232
4    BTC  SELL   0.00078  23.56689  30213.95962
5    ETH   BUY   0.02340  45.06840   1926.00000
6    ETH  SELL   0.00730  13.14314   1800.43000
7  MATIC   BUY  39.00000  24.79000      0.63564
8    SOL   BUY   0.85000  38.59890     45.41047
9    SOL  SELL   0.23000  10.24650     44.55000

In [62]:
df_net_summary=df_summary.copy()
df_net_summary=df_summary.drop(columns=['AvgPrice'])
def negative_val_for_sell(item):
    if item['Type']=='SELL':
        item['Amount']=item['Amount']*-1
        item['Total']=item['Total']*-1
        
    return item    
df_net_summary=df_net_summary.apply(negative_val_for_sell,axis=1) 
df_net_summary

  Symbol  Type    Amount     Total
0   AVAX  SELL  -0.87000 -21.31500
1    BNB   BUY   0.08500  26.87270
2    BNB  SELL  -0.04700 -14.42900
3    BTC   BUY   0.00168  51.92014
4    BTC  SELL  -0.00078 -23.56689
5    ETH   BUY   0.02340  45.06840
6    ETH  SELL  -0.00730 -13.14314
7  MATIC   BUY  39.00000  24.79000
8    SOL   BUY   0.85000  38.59890
9    SOL  SELL  -0.23000 -10.24650

In [63]:
def get_current_price(item):
    symbol_pair=f"{item['Symbol']}{main_pair}"
    current_price =float( client.get_symbol_ticker(symbol=symbol_pair)['price'])
    #current_price_Avg = client.get_avg_price(symbol="BTCUSDT")
    current_price=round(current_price,5)
    return current_price

In [64]:
groupby_cols=['Symbol']
agg_cols=['Amount','Total']
dfNet=df_net_summary.groupby(groupby_cols,as_index=False)[agg_cols].sum()
dfNet['Price']=dfNet.apply(get_current_price,axis=1)

dfNet['CurrentVal']=dfNet['Price']*dfNet['Amount']

dfNet['MyVal']=dfNet['CurrentVal']-dfNet['Total']

dfNet=dfNet[['Symbol','Amount','Price','CurrentVal','MyVal']]

dfNet

  Symbol   Amount      Price  CurrentVal     MyVal
0   AVAX  -0.8700     23.840  -20.740800  0.574200
1    BNB   0.0380    305.000   11.590000 -0.853700
2    BTC   0.0009  30348.540   27.313686 -1.039564
3    ETH   0.0161   1809.990   29.140839 -2.784421
4  MATIC  39.0000      0.603   23.517000 -1.273000
5    SOL   0.6200     40.470   25.091400 -3.261000

In [65]:
srNet_Sum=dfNet[['CurrentVal','MyVal']].sum()
dfNet_Sum=srNet_Sum.to_frame("Value")

In [66]:
dfNet_Sum.reset_index(inplace=True)

dfNet_Sum

        index      Value
0  CurrentVal  95.912125
1       MyVal  -8.637485

In [67]:
df_totalBuySell=df_summary.groupby(['Type'],as_index=False)[['Total']].sum()

In [68]:
df_totalBuySell

   Type      Total
0   BUY  187.25014
1  SELL   82.70053

In [69]:
#df_trasns.to_excel(tran2s_path2,index=False)
writer=pd.ExcelWriter(tran2s_path2,engine='xlsxwriter') 

df_totalBuySell.to_excel(writer, sheet_name="Total")
dfNet_Sum.to_excel(writer, sheet_name="PossitionVal",index=False) 
dfNet.to_excel(writer, sheet_name="NetSummary",index=False)   
df_summary.to_excel(writer, sheet_name="SummaryBuySell",index=False)   
df_trasns.to_excel(writer, sheet_name="Detail",index=False)

writer.save()

In [70]:
# https://exchangeratesapi.io/documentation/

In [71]:
if q_start=='' and q_end=='':
 df_trasns.to_excel(master_path,sheet_name='Master_BuySell',index=False)