In [100]:
import pandas as pd
from datetime import datetime
from dotenv import dotenv_values
from binance.client import Client

In [101]:
root_path=r'D:\BC-World\Video\DeFi Usage\AAA_DeFi_Doc_TRansaction\Transaction'

buildtime = datetime.now().strftime('%d%m%y_%H%M')
required_drop_dup=True

# copy file from last export to  Binance Trade History_From2022-02-01.xlsx
trans_path=f'{root_path}\\MasterFile\\MasterBinance Trade History.xlsx'


tran2s_path2=f'{root_path}\\Report\\Summary_TradeHistory_From2022-02-01_At_{buildtime}.xlsx'


add_path=f'{root_path}\\MasterFile\\Addtional_TranancTrade OutOfBN-Trade.xlsx'

coinPairList=['USDT','BUSD','USDC','DAI','']

fund_path=r'D:\AB_DB\AB_Cryptos_Files\database\crypto_db.db'

path_config=r'D:\AB_DB\Script_ImportData'

colsList=['DateTime(UTC)','Symbol','Type','Price','Amount','Total']
colsDelete=['Date(UTC)','Market','Fee','Fee Coin']

main_pair='BUSD'
#colsList=['DateTime(UTC)','Symbol','PairCoin','Market','Type','Price','Amount','Total','Fee','Fee Coin']

In [102]:
config_values= dotenv_values(dotenv_path=f'{path_config}\\.env')
api_key = config_values['bn_key']
api_secret =config_values['bn_secrete']
client=Client(api_key,api_secret)

In [103]:
def check_dupplicate(dfx):
  print("Dupplicated to record removing")
  
  duplicateRows = dfx[dfx.duplicated(keep=False)]
  print(duplicateRows.info())
  print(duplicateRows)  
  if   len(duplicateRows)==0:
    print("No duplication")    
    return None

     
  print("All item After removing dupplicated record")      
  dfx=dfx.drop_duplicates(keep='first')
  print(dfx.info())
  print(dfx.head())
    
  duplicateRows = dfx[dfx.duplicated()]
  if(len(duplicateRows)>0):
    raise ("There are something wrong ,Keep having duplicated rows")
  else:
    print("Remove any duplicated rows already")  
    return dfx

In [104]:
df_new=pd.read_excel(trans_path,engine='openpyxl',sheet_name="sheet1")
df_new['Date(UTC)']=pd.to_datetime(df_trasns['Date(UTC)'],format='%Y-%m-%d %H:%M:%S')
print(df_new.info())
df_new.tail()

KeyError: 'Date(UTC)'

In [84]:
df_trasns=pd.read_excel(trans_path,engine='openpyxl',sheet_name="BuySell")
df_trasns['DateTime(UTC)']=pd.to_datetime(df_trasns['Date(UTC)'],format='%Y-%m-%d %H:%M:%S')
print(df_trasns.info())
df_trasns.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(UTC)      348 non-null    object
 1   Market         348 non-null    object
 2   Type           348 non-null    object
 3   Price          348 non-null    float64
 4   Amount         348 non-null    float64
 5   Total          348 non-null    float64
 6   Fee            348 non-null    float64
 7   Fee Coin       340 non-null    object
 8   DateTime(UTC)  348 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 24.6+ KB
None

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,DateTime(UTC)
343,2022-05-30 12:19:31,BNBBUSD,BUY,319.10,0.04700,14.997700,0.000035,BNB,2022-05-30 12:19:31
344,2022-05-30 12:14:35,BTCBUSD,BUY,30741.19,0.00014,4.303767,0.000010,BNB,2022-05-30 12:14:35
345,2022-05-30 12:14:35,BTCBUSD,BUY,30741.13,0.00045,13.833509,0.000033,BNB,2022-05-30 12:14:35
346,2022-05-30 12:11:21,SOLBUSD,BUY,46.18,0.23000,10.621400,0.000025,BNB,2022-05-30 12:11:21
347,2022-05-30 11:40:28,USDCBUSD,SELL,1.00,73.77000,73.770000,0.000000,BNB,2022-05-30 11:40:28

In [85]:
print("Update Master File")
if required_drop_dup==True:
 result_df= check_dupplicate(df_trasns)
 if result_df is not None: 
  df_trasns=result_df
  print(df_trasns.info())
  df_trasns.tail()
  print(f"Update data to {trans_path}")
  df_trasns.to_excel(trans_path,sheet_name="BuySell",index=False)

Update Master File
Dupplicated to record removing
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(UTC)      0 non-null      object
 1   Market         0 non-null      object
 2   Type           0 non-null      object
 3   Price          0 non-null      float64
 4   Amount         0 non-null      float64
 5   Total          0 non-null      float64
 6   Fee            0 non-null      float64
 7   Fee Coin       0 non-null      object
 8   DateTime(UTC)  0 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 0.0+ bytes
None
Empty DataFrame
Columns: [Date(UTC), Market, Type, Price, Amount, Total, Fee, Fee Coin, DateTime(UTC)]
Index: []
No duplication

In [87]:
df_addTran=pd.read_excel(add_path,engine='openpyxl')
df_addTran.info()
df_addTran.tail()

print("Update Add Trans File")
if required_drop_dup==True:
 result_df= check_dupplicate(df_addTran)
 if result_df is not None: 
  df_addTran=result_df
  print(df_addTran.info())
  df_addTran.tail()
  print(f"Update data to {add_path}")
  df_addTran.to_excel(add_path,sheet_name="Add_BuySell",index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  17 non-null     datetime64[ns]
 1   Symbol         17 non-null     object
 2   Type           17 non-null     object
 3   Price          17 non-null     float64
 4   Amount         17 non-null     float64
 5   Total          17 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 944.0+ bytes
Update Add Trans File
Dupplicated to record removing
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 13 to 16
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  4 non-null      datetime64[ns]
 1   Symbol         4 non-null      object
 2   Type           4 non-null      object
 3   Price          4 non-null      float64
 4   Amount         4 non-null      float64
 5   Total          4 non-null      float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 224.0+ bytes
None
         DateTime(UTC) Symbol  Type       Price    Amount      Total
13 2022-05-10 14:00:00    UST  SELL    0.901250  10.00000   9.012500
14 2022-05-25 14:00:00    BNB   BUY  334.979212   0.05075  17.000195
15 2022-05-10 14:00:00    UST  SELL    0.901250  10.00000   9.012500
16 2022-05-25 14:00:00    BNB   BUY  334.979212   0.05075  17.000195
All item After removing dupplicated record
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  15 non-null     datetime64[ns]
 1   Symbol         15 non-null     object
 2   Type           15 non-null     object
 3   Price          15 non-null     float64
 4   Amount         15 non-null     float64
 5   Total          15 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 840.0+ bytes
None
        DateTime(UTC) Symbol  Type   Price     Amount      Total
0 2022-03-29 08:00:00    SOL  SELL  110.26   0.460469  50.771325
1 2022-04-29 08:00:00  MATIC  SELL    1.19   8.737960  10.398173
2 2022-04-29 08:00:00  MATIC  SELL    1.19  15.300000  18.207000
3 2022-04-29 08:00:00  MATIC  SELL    1.19  26.000000  30.940000
4 2022-02-07 08:00:00  MATIC   BUY    1.77  28.799247  50.974667
Remove any duplicated rows already
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  15 non-null     datetime64[ns]
 1   Symbol         15 non-null     object
 2   Type           15 non-null     object
 3   Price          15 non-null     float64
 4   Amount         15 non-null     float64
 5   Total          15 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 840.0+ bytes
None
Update data to D:\BC-World\Video\DeFi Usage\AAA_DeFi_Doc_TRansaction\Transaction\MasterFile\Addtional_TranancTrade OutOfBN-Trade.xlsx

In [88]:
def replance_pair_coin_with_empty(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=x.replace(pair,'')
        
   return x     
def sete_pair_coin_with(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=pair       
   return x     
print("List All transaction in Binance")           
df_trasns['Symbol']=df_trasns['Market']               
df_trasns['Symbol']=df_trasns['Market'].apply( replance_pair_coin_with_empty)
# df_trasns['PairCoin']=df_trasns['Market'].apply( sete_pair_coin_with)

# exclude stablecoin
df_trasns=df_trasns[ ~df_trasns['Symbol'] .isin(coinPairList)]


df_trasns=df_trasns.drop(columns=colsDelete)
df_trasns=df_trasns[colsList]
df_trasns.info()
df_trasns

List All transaction in Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 321 entries, 0 to 346
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  321 non-null    datetime64[ns]
 1   Symbol         321 non-null    object
 2   Type           321 non-null    object
 3   Price          321 non-null    float64
 4   Amount         321 non-null    float64
 5   Total          321 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 17.6+ KB

          DateTime(UTC) Symbol Type       Price     Amount       Total
0   2022-01-03 04:48:17    UST  BUY      1.0018  149.00000  149.268200
1   2022-01-03 04:50:39    UST  BUY      1.0018    9.00000    9.016200
2   2022-01-12 07:53:03    UST  BUY      1.0004  149.00000  149.059600
3   2022-01-13 05:17:12    UST  BUY      1.0004  151.00000  151.060400
4   2022-01-17 16:23:15    UST  BUY      1.0007  179.00000  179.125300
..                  ...    ...  ...         ...        ...         ...
342 2022-05-30 12:28:50    ETH  BUY   1881.0000    0.00750   14.107500
343 2022-05-30 12:19:31    BNB  BUY    319.1000    0.04700   14.997700
344 2022-05-30 12:14:35    BTC  BUY  30741.1900    0.00014    4.303767
345 2022-05-30 12:14:35    BTC  BUY  30741.1300    0.00045   13.833509
346 2022-05-30 12:11:21    SOL  BUY     46.1800    0.23000   10.621400

[321 rows x 6 columns]

In [89]:
print("Concate addtional transaction out of Binance")
df_trasns=pd.concat([df_trasns,df_addTran])
df_trasns=df_trasns.sort_values(by='DateTime(UTC)', ascending=False)
df_trasns.info()
df_trasns

Concate addtional transaction out of Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 336 entries, 331 to 0
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  336 non-null    datetime64[ns]
 1   Symbol         336 non-null    object
 2   Type           336 non-null    object
 3   Price          336 non-null    float64
 4   Amount         336 non-null    float64
 5   Total          336 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 18.4+ KB

          DateTime(UTC) Symbol  Type       Price     Amount      Total
331 2022-06-01 14:36:44  MATIC   BUY      0.6250   22.40000   14.00000
332 2022-06-01 14:36:22    BNB   BUY    312.5000    0.03800   11.87500
334 2022-06-01 14:35:06    BTC   BUY  31222.0000    0.00035   10.92770
333 2022-06-01 14:35:06    BTC   BUY  31222.0000    0.00038   11.86436
335 2022-06-01 04:09:20    SOL  SELL     44.5500    0.23000   10.24650
..                  ...    ...   ...         ...        ...        ...
4   2022-01-17 16:23:15    UST   BUY      1.0007  179.00000  179.12530
3   2022-01-13 05:17:12    UST   BUY      1.0004  151.00000  151.06040
2   2022-01-12 07:53:03    UST   BUY      1.0004  149.00000  149.05960
1   2022-01-03 04:50:39    UST   BUY      1.0018    9.00000    9.01620
0   2022-01-03 04:48:17    UST   BUY      1.0018  149.00000  149.26820

[336 rows x 6 columns]

In [90]:
print("Agg transaction")
groupby_cols=['Symbol','Type']
agg_cols=['Amount','Total']
df_summary=df_trasns.groupby(groupby_cols,as_index=False)[agg_cols].sum()
df_summary['AvgPrice']=df_summary['Total']/df_summary['Amount']
df_summary=df_summary.round(5)
df_summary

Agg transaction

   Symbol  Type      Amount       Total     AvgPrice
0    ATOM   BUY    13.48000   398.44960     29.55858
1    ATOM  SELL    14.05000   356.18690     25.35138
2    AVAX   BUY    12.08755   896.13613     74.13712
3    AVAX  SELL    12.21432   733.28059     60.03450
4     BNB   BUY     1.50202   583.60250    388.54511
5     BNB  SELL     0.67600   235.84420    348.88195
6     BTC   BUY     0.00945   364.26374  38546.42764
7     BTC  SELL     0.00440   168.36033  38263.71089
8     ETH   BUY     0.28040   745.42175   2658.42279
9     ETH  SELL     0.21358   534.86447   2504.24783
10   LUNA   BUY     0.35000    29.38950     83.97000
11   LUNA  SELL     0.35000    24.13950     68.97000
12  MATIC   BUY   430.99925   627.93717      1.45693
13  MATIC  SELL   366.73796   433.00587      1.18070
14    SOL   BUY     6.23000   531.56040     85.32270
15    SOL  SELL     5.34047   409.83713     76.74178
16    UST   BUY  2886.00000  2889.22210      1.00112
17    UST  SELL  2933.00000  2453.15171      0.83640

In [91]:
df_net_summary=df_summary.copy()
df_net_summary=df_summary.drop(columns=['AvgPrice'])
def negative_val_for_sell(item):
    if item['Type']=='SELL':
        item['Amount']=item['Amount']*-1
        item['Total']=item['Total']*-1
        
    return item    
df_net_summary=df_net_summary.apply(negative_val_for_sell,axis=1) 
df_net_summary

   Symbol  Type      Amount       Total
0    ATOM   BUY    13.48000   398.44960
1    ATOM  SELL   -14.05000  -356.18690
2    AVAX   BUY    12.08755   896.13613
3    AVAX  SELL   -12.21432  -733.28059
4     BNB   BUY     1.50202   583.60250
5     BNB  SELL    -0.67600  -235.84420
6     BTC   BUY     0.00945   364.26374
7     BTC  SELL    -0.00440  -168.36033
8     ETH   BUY     0.28040   745.42175
9     ETH  SELL    -0.21358  -534.86447
10   LUNA   BUY     0.35000    29.38950
11   LUNA  SELL    -0.35000   -24.13950
12  MATIC   BUY   430.99925   627.93717
13  MATIC  SELL  -366.73796  -433.00587
14    SOL   BUY     6.23000   531.56040
15    SOL  SELL    -5.34047  -409.83713
16    UST   BUY  2886.00000  2889.22210
17    UST  SELL -2933.00000 -2453.15171

In [93]:
def get_current_price(item):
    symbol_pair=f"{item['Symbol']}{main_pair}"
    current_price =float( client.get_symbol_ticker(symbol=symbol_pair)['price'])
    #current_price_Avg = client.get_avg_price(symbol="BTCUSDT")
    current_price=round(current_price,5)
    return current_price

In [94]:
groupby_cols=['Symbol']
agg_cols=['Amount','Total']
dfNet=df_net_summary.groupby(groupby_cols,as_index=False)[agg_cols].sum()
dfNet['Price']=dfNet.apply(get_current_price,axis=1)

dfNet['CurrentVal']=dfNet['Price']*dfNet['Amount']

dfNet['MyVal']=dfNet['CurrentVal']-dfNet['Total']

dfNet=dfNet[['Symbol','Amount','Price','CurrentVal','MyVal']]

dfNet

  Symbol    Amount        Price  CurrentVal       MyVal
0   ATOM  -0.57000      9.31000   -5.306700  -47.569400
1   AVAX  -0.12677     23.18000   -2.938529 -165.794069
2    BNB   0.82602    301.40000  248.962428  -98.795872
3    BTC   0.00505  29790.00000  150.439500  -45.463910
4    ETH   0.06682   1814.98000  121.276964  -89.280316
5   LUNA   0.00000      6.44500    0.000000   -5.250000
6  MATIC  64.26129      0.59800   38.428251 -156.503049
7    SOL   0.88953     38.99000   34.682775  -87.040495
8    UST -47.00000      0.06763   -3.178610 -439.249000

In [95]:
srNet_Sum=dfNet[['CurrentVal','MyVal']].sum()
dfNet_Sum=srNet_Sum.to_frame("Value")

In [96]:
dfNet_Sum.reset_index(inplace=True)

dfNet_Sum

        index        Value
0  CurrentVal   582.366079
1       MyVal -1134.946111

In [97]:
df_totalBuySell=df_summary.groupby(['Type'],as_index=False)[['Total']].sum()

In [98]:
df_totalBuySell

   Type       Total
0   BUY  7065.98289
1  SELL  5348.67070

In [99]:
#df_trasns.to_excel(tran2s_path2,index=False)
writer=pd.ExcelWriter(tran2s_path2,engine='xlsxwriter') 
df_totalBuySell.to_excel(writer, sheet_name="Total")
dfNet_Sum.to_excel(writer, sheet_name="PossitionVal",index=False) 
dfNet.to_excel(writer, sheet_name="NetSummary",index=False)   
df_summary.to_excel(writer, sheet_name="SummaryBuySell",index=False)   
df_trasns.to_excel(writer, sheet_name="Detail",index=False)

writer.save()

In [33]:
# https://exchangeratesapi.io/documentation/