In [122]:
import pandas as pd
from datetime import datetime
from dotenv import dotenv_values
from binance.client import Client

In [123]:
#https://python-binance.readthedocs.io/en/latest/binance.html?highlight=get_avg_price#binance.client.Client.get_avg_price
#https://binance-docs.github.io/apidocs/spot/en/#current-average-price
#https://python-binance.readthedocs.io/en/latest/_modules/binance/client.html?highlight=get_avg_price#

In [124]:
q_start='2022-05-30 01:00'
q_end='2022-06-03'

In [125]:
def replaceString(txt):
  specialChars =[' ',':'] 
  for specialChar in specialChars:
    txt = txt.replace(specialChar, '_')
  return txt 

title_start=replaceString(q_start)
title_end=replaceString(q_end)
print(title_start)
print(title_end)

2022-05-30_01_00
2022-06-03

In [126]:
root_path=r'D:\BC-World\CryptoTrans\BS-Trade'

buildtime = datetime.now().strftime('%d%m%y_%H%M')

# copy file from last export to  Binance Trade History_From2022-02-01.xlsx

trans_path=f'{root_path}\\Master\\Raw_BinanceTradeHistory.xlsx'
add_path=f'{root_path}\\Master\\Addtional_TranancTrade OutOfBN-Trade.xlsx'
master_path=f'{root_path}\\Master\\Master_BinanceTradeHistory.xlsx'


if q_start!='' and q_end!='':
    
    tran2s_path2=f'{root_path}\\THistReport_{title_start}-{title_end}_At_{buildtime}.xlsx'
else:
    tran2s_path2=f'{root_path}\\Report\\THistReport_At_{buildtime}.xlsx'
    
print(tran2s_path2)




coinPairList=['USDT','BUSD','USDC','DAI','']

fund_path=r'D:\AB_DB\AB_Cryptos_Files\database\crypto_db.db'

path_config=r'D:\AB_DB\Script_ImportData'

colsList=['DateTime(UTC)','Symbol','Type','Price','Amount','Total']
colsDelete=['Date(UTC)','Market','Fee','Fee Coin']

main_pair='BUSD'
#colsList=['DateTime(UTC)','Symbol','PairCoin','Market','Type','Price','Amount','Total','Fee','Fee Coin']

D:\BC-World\CryptoTrans\BS-Trade\THistReport_2022-05-30_01_00-2022-06-03_At_020622_1428.xlsx

In [127]:
config_values= dotenv_values(dotenv_path=f'{path_config}\\.env')
api_key = config_values['bn_key']
api_secret =config_values['bn_secrete']
client=Client(api_key,api_secret)

In [128]:
df_trasns=pd.read_excel(trans_path,engine='openpyxl')
df_trasns['DateTime(UTC)']=pd.to_datetime(df_trasns['Date(UTC)'],format='%Y-%m-%d %H:%M:%S')
df_trasns.info()
df_trasns.tail(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(UTC)      379 non-null    object
 1   Market         379 non-null    object
 2   Type           379 non-null    object
 3   Price          379 non-null    float64
 4   Amount         379 non-null    float64
 5   Total          379 non-null    float64
 6   Fee            379 non-null    float64
 7   Fee Coin       371 non-null    object
 8   DateTime(UTC)  379 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 26.8+ KB

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,DateTime(UTC)
359,2022-06-01 04:02:55,MATICBUSD,BUY,0.650,16.60000,10.790000,0.000025,BNB,2022-06-01 04:02:55
360,2022-05-31 14:06:39,ETHBUSD,BUY,1931.000,0.00730,14.096300,0.000000,BNB,2022-05-31 14:06:39
361,2022-05-31 13:40:02,SOLBUSD,BUY,45.250,0.31000,14.027500,0.000000,BNB,2022-05-31 13:40:02
362,2022-05-31 06:38:50,ETHBUSD,BUY,1961.000,0.00860,16.864600,0.000000,BNB,2022-05-31 06:38:50
363,2022-05-31 04:23:34,USDCBUSD,SELL,1.000,50.01000,50.010000,0.000000,BNB,2022-05-31 04:23:34
364,2022-05-30 13:20:01,SOLBUSD,BUY,45.000,0.31000,13.950000,0.000000,BNB,2022-05-30 13:20:01
365,2022-05-30 12:28:50,ETHBUSD,BUY,1881.000,0.00750,14.107500,0.000000,BNB,2022-05-30 12:28:50
366,2022-05-30 12:19:31,BNBBUSD,BUY,319.100,0.04700,14.997700,0.000035,BNB,2022-05-30 12:19:31
367,2022-05-30 12:14:35,BTCBUSD,BUY,30741.190,0.00014,4.303767,0.000010,BNB,2022-05-30 12:14:35
368,2022-05-30 12:14:35,BTCBUSD,BUY,30741.130,0.00045,13.833509,0.000033,BNB,2022-05-30 12:14:35
369,2022-05-30 12:11:21,SOLBUSD,BUY,46.180,0.23000,10.621400,0.000025,BNB,2022-05-30 12:11:21
370,2022-05-30 11:40:28,USDCBUSD,SELL,1.000,73.77000,73.770000,0.000000,BNB,2022-05-30 11:40:28
371,2022-06-01 16:09:21,BTCBUSD,BUY,30530.000,0.00036,10.990800,0.000000,BNB,2022-06-01 16:09:21
372,2022-06-01 15:21:06,BTCBUSD,SELL,31024.000,0.00033,10.237920,0.000000,BNB,2022-06-01 15:21:06
373,2022-06-01 14:36:44,MATICBUSD,BUY,0.625,22.40000,14.000000,0.000000,BNB,2022-06-01 14:36:44
374,2022-06-01 14:36:22,BNBBUSD,BUY,312.500,0.03800,11.875000,0.000000,BNB,2022-06-01 14:36:22
375,2022-06-01 14:35:06,BTCBUSD,BUY,31222.000,0.00038,11.864360,0.000000,BNB,2022-06-01 14:35:06
376,2022-06-01 14:35:06,BTCBUSD,BUY,31222.000,0.00035,10.927700,0.000000,BNB,2022-06-01 14:35:06
377,2022-06-01 04:09:20,SOLUSDT,SELL,44.550,0.23000,10.246500,0.000024,BNB,2022-06-01 04:09:20
378,2022-06-01 04:02:55,MATICBUSD,BUY,0.650,16.60000,10.790000,0.000025,BNB,2022-06-01 04:02:55

In [129]:
# df_trasns[ (df_trasns['Market']=='ETHBUSD') & (df_trasns['Type']=='SBUY')]
if q_start!='' and q_end!='':
 df_trasns=df_trasns[ (df_trasns['DateTime(UTC)']>=q_start) & (df_trasns['DateTime(UTC)']<=q_end)]
 print(df_trasns.info())
 print(df_trasns)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 354 to 378
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(UTC)      25 non-null     object
 1   Market         25 non-null     object
 2   Type           25 non-null     object
 3   Price          25 non-null     float64
 4   Amount         25 non-null     float64
 5   Total          25 non-null     float64
 6   Fee            25 non-null     float64
 7   Fee Coin       25 non-null     object
 8   DateTime(UTC)  25 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 2.0+ KB
None
               Date(UTC)     Market  Type      Price    Amount      Total  \
354  2022-06-01 14:36:44  MATICBUSD   BUY      0.625  22.40000  14.000000
355  2022-06-01 14:36:22    BNBBUSD   BUY    312.500   0.03800  11.875000
356  2022-06-01 14:35:06    BTCBUSD   BUY  31222.000   0.00038  11.864360
357  2022-06-01 14:35:06    BTCBUSD   BUY  31222.000   0.00035  10.927700
358  2022-06-01 04:09:20    SOLUSDT  SELL     44.550   0.23000  10.246500
359  2022-06-01 04:02:55  MATICBUSD   BUY      0.650  16.60000  10.790000
360  2022-05-31 14:06:39    ETHBUSD   BUY   1931.000   0.00730  14.096300
361  2022-05-31 13:40:02    SOLBUSD   BUY     45.250   0.31000  14.027500
362  2022-05-31 06:38:50    ETHBUSD   BUY   1961.000   0.00860  16.864600
363  2022-05-31 04:23:34   USDCBUSD  SELL      1.000  50.01000  50.010000
364  2022-05-30 13:20:01    SOLBUSD   BUY     45.000   0.31000  13.950000
365  2022-05-30 12:28:50    ETHBUSD   BUY   1881.000   0.00750  14.107500
366  2022-05-30 12:19:31    BNBBUSD   BUY    319.100   0.04700  14.997700
367  2022-05-30 12:14:35    BTCBUSD   BUY  30741.190   0.00014   4.303767
368  2022-05-30 12:14:35    BTCBUSD   BUY  30741.130   0.00045  13.833509
369  2022-05-30 12:11:21    SOLBUSD   BUY     46.180   0.23000  10.621400
370  2022-05-30 11:40:28   USDCBUSD  SELL      1.000  73.77000  73.770000
371  2022-06-01 16:09:21    BTCBUSD   BUY  30530.000   0.00036  10.990800
372  2022-06-01 15:21:06    BTCBUSD  SELL  31024.000   0.00033  10.237920
373  2022-06-01 14:36:44  MATICBUSD   BUY      0.625  22.40000  14.000000
374  2022-06-01 14:36:22    BNBBUSD   BUY    312.500   0.03800  11.875000
375  2022-06-01 14:35:06    BTCBUSD   BUY  31222.000   0.00038  11.864360
376  2022-06-01 14:35:06    BTCBUSD   BUY  31222.000   0.00035  10.927700
377  2022-06-01 04:09:20    SOLUSDT  SELL     44.550   0.23000  10.246500
378  2022-06-01 04:02:55  MATICBUSD   BUY      0.650  16.60000  10.790000

          Fee Fee Coin       DateTime(UTC)
354  0.000000      BNB 2022-06-01 14:36:44
355  0.000000      BNB 2022-06-01 14:36:22
356  0.000000      BNB 2022-06-01 14:35:06
357  0.000000      BNB 2022-06-01 14:35:06
358  0.000024      BNB 2022-06-01 04:09:20
359  0.000025      BNB 2022-06-01 04:02:55
360  0.000000      BNB 2022-05-31 14:06:39
361  0.000000      BNB 2022-05-31 13:40:02
362  0.000000      BNB 2022-05-31 06:38:50
363  0.000000      BNB 2022-05-31 04:23:34
364  0.000000      BNB 2022-05-30 13:20:01
365  0.000000      BNB 2022-05-30 12:28:50
366  0.000035      BNB 2022-05-30 12:19:31
367  0.000010      BNB 2022-05-30 12:14:35
368  0.000033      BNB 2022-05-30 12:14:35
369  0.000025      BNB 2022-05-30 12:11:21
370  0.000000      BNB 2022-05-30 11:40:28
371  0.000000      BNB 2022-06-01 16:09:21
372  0.000000      BNB 2022-06-01 15:21:06
373  0.000000      BNB 2022-06-01 14:36:44
374  0.000000      BNB 2022-06-01 14:36:22
375  0.000000      BNB 2022-06-01 14:35:06
376  0.000000      BNB 2022-06-01 14:35:06
377  0.000024      BNB 2022-06-01 04:09:20
378  0.000025      BNB 2022-06-01 04:02:55

In [130]:
df_addTran=pd.read_excel(add_path,engine='openpyxl')
df_addTran.info()
df_addTran.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  15 non-null     datetime64[ns]
 1   Symbol         15 non-null     object
 2   Type           15 non-null     object
 3   Price          15 non-null     float64
 4   Amount         15 non-null     float64
 5   Total          15 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 848.0+ bytes

         DateTime(UTC) Symbol  Type       Price     Amount      Total
10 2022-03-07 08:00:00   AVAX  SELL   72.090000   0.950000  68.485500
11 2022-03-07 08:00:00   AVAX  SELL   75.920000   0.662663  50.309348
12 2022-05-10 08:00:00    SOL  SELL   67.050000   0.200000  13.410000
13 2022-05-10 14:00:00    UST  SELL    0.901250  10.000000   9.012500
14 2022-05-25 14:00:00    BNB   BUY  334.979212   0.050750  17.000195

In [131]:
if q_start!='' and q_end!='':
 df_addTran=df_addTran[ (df_addTran['DateTime(UTC)']>=q_start) & (df_addTran['DateTime(UTC)']<=q_end)]
 print(df_addTran.info())
 print(df_addTran)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  0 non-null      datetime64[ns]
 1   Symbol         0 non-null      object
 2   Type           0 non-null      object
 3   Price          0 non-null      float64
 4   Amount         0 non-null      float64
 5   Total          0 non-null      float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 0.0+ bytes
None
Empty DataFrame
Columns: [DateTime(UTC), Symbol, Type, Price, Amount, Total]
Index: []

In [132]:
def replance_pair_coin_with_empty(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=x.replace(pair,'')
        
   return x     
def sete_pair_coin_with(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=pair       
   return x     
print("List All transaction in Binance")           
df_trasns['Symbol']=df_trasns['Market']               
df_trasns['Symbol']=df_trasns['Market'].apply( replance_pair_coin_with_empty)
# df_trasns['PairCoin']=df_trasns['Market'].apply( sete_pair_coin_with)

# exclude stablecoin
df_trasns=df_trasns[ ~df_trasns['Symbol'] .isin(coinPairList)]


df_trasns=df_trasns.drop(columns=colsDelete)
df_trasns=df_trasns[colsList]
df_trasns.info()
df_trasns

List All transaction in Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 354 to 378
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  23 non-null     datetime64[ns]
 1   Symbol         23 non-null     object
 2   Type           23 non-null     object
 3   Price          23 non-null     float64
 4   Amount         23 non-null     float64
 5   Total          23 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.3+ KB

          DateTime(UTC) Symbol  Type      Price    Amount      Total
354 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.000000
355 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.875000
356 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.864360
357 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.927700
358 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.246500
359 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.790000
360 2022-05-31 14:06:39    ETH   BUY   1931.000   0.00730  14.096300
361 2022-05-31 13:40:02    SOL   BUY     45.250   0.31000  14.027500
362 2022-05-31 06:38:50    ETH   BUY   1961.000   0.00860  16.864600
364 2022-05-30 13:20:01    SOL   BUY     45.000   0.31000  13.950000
365 2022-05-30 12:28:50    ETH   BUY   1881.000   0.00750  14.107500
366 2022-05-30 12:19:31    BNB   BUY    319.100   0.04700  14.997700
367 2022-05-30 12:14:35    BTC   BUY  30741.190   0.00014   4.303767
368 2022-05-30 12:14:35    BTC   BUY  30741.130   0.00045  13.833509
369 2022-05-30 12:11:21    SOL   BUY     46.180   0.23000  10.621400
371 2022-06-01 16:09:21    BTC   BUY  30530.000   0.00036  10.990800
372 2022-06-01 15:21:06    BTC  SELL  31024.000   0.00033  10.237920
373 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.000000
374 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.875000
375 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.864360
376 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.927700
377 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.246500
378 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.790000

In [133]:
print("Concate addtional transaction out of Binance")
df_trasns=pd.concat([df_trasns,df_addTran])
df_trasns=df_trasns.sort_values(by='DateTime(UTC)', ascending=False)
df_trasns.info()
df_trasns

Concate addtional transaction out of Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 371 to 369
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  23 non-null     datetime64[ns]
 1   Symbol         23 non-null     object
 2   Type           23 non-null     object
 3   Price          23 non-null     float64
 4   Amount         23 non-null     float64
 5   Total          23 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.3+ KB

          DateTime(UTC) Symbol  Type      Price    Amount      Total
371 2022-06-01 16:09:21    BTC   BUY  30530.000   0.00036  10.990800
372 2022-06-01 15:21:06    BTC  SELL  31024.000   0.00033  10.237920
354 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.000000
373 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.000000
374 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.875000
355 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.875000
356 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.864360
357 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.927700
376 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.927700
375 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.864360
358 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.246500
377 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.246500
378 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.790000
359 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.790000
360 2022-05-31 14:06:39    ETH   BUY   1931.000   0.00730  14.096300
361 2022-05-31 13:40:02    SOL   BUY     45.250   0.31000  14.027500
362 2022-05-31 06:38:50    ETH   BUY   1961.000   0.00860  16.864600
364 2022-05-30 13:20:01    SOL   BUY     45.000   0.31000  13.950000
365 2022-05-30 12:28:50    ETH   BUY   1881.000   0.00750  14.107500
366 2022-05-30 12:19:31    BNB   BUY    319.100   0.04700  14.997700
368 2022-05-30 12:14:35    BTC   BUY  30741.130   0.00045  13.833509
367 2022-05-30 12:14:35    BTC   BUY  30741.190   0.00014   4.303767
369 2022-05-30 12:11:21    SOL   BUY     46.180   0.23000  10.621400

In [134]:
if len(df_trasns.index)==0:
    print("No record to summarize tradig transaction")
    quit()

In [135]:
# symbol="SOL"
# xxx=df_trasns.query("Symbol==@symbol")
# xxx
print("Show dupplicated record")
duplicateRows = df_trasns[df_trasns.duplicated(keep=False)]
print(duplicateRows.info())
duplicateRows

Show dupplicated record
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 354 to 359
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  12 non-null     datetime64[ns]
 1   Symbol         12 non-null     object
 2   Type           12 non-null     object
 3   Price          12 non-null     float64
 4   Amount         12 non-null     float64
 5   Total          12 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 672.0+ bytes
None

          DateTime(UTC) Symbol  Type      Price    Amount     Total
354 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.00000
373 2022-06-01 14:36:44  MATIC   BUY      0.625  22.40000  14.00000
374 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.87500
355 2022-06-01 14:36:22    BNB   BUY    312.500   0.03800  11.87500
356 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.86436
357 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.92770
376 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00035  10.92770
375 2022-06-01 14:35:06    BTC   BUY  31222.000   0.00038  11.86436
358 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.24650
377 2022-06-01 04:09:20    SOL  SELL     44.550   0.23000  10.24650
378 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.79000
359 2022-06-01 04:02:55  MATIC   BUY      0.650  16.60000  10.79000

In [136]:
required_drop_dup=True

In [137]:
if required_drop_dup:
    df_trasns=df_trasns.drop_duplicates(keep='first')
    df_trasns.info()
    df_trasns.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 371 to 369
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  17 non-null     datetime64[ns]
 1   Symbol         17 non-null     object
 2   Type           17 non-null     object
 3   Price          17 non-null     float64
 4   Amount         17 non-null     float64
 5   Total          17 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 952.0+ bytes

In [138]:
duplicateRows = df_trasns[df_trasns.duplicated()]
if(len(duplicateRows)>0):
    raise ("Keep having duplicated rows")
else:
    print("no duplicated rows")

no duplicated rows

In [139]:
print("Agg transaction")
groupby_cols=['Symbol','Type']
agg_cols=['Amount','Total']
df_summary=df_trasns.groupby(groupby_cols,as_index=False)[agg_cols].sum()
df_summary['AvgPrice']=df_summary['Total']/df_summary['Amount']
df_summary=df_summary.round(5)
df_summary

Agg transaction

  Symbol  Type    Amount     Total     AvgPrice
0    BNB   BUY   0.08500  26.87270    316.14941
1    BTC   BUY   0.00168  51.92014  30904.84232
2    BTC  SELL   0.00033  10.23792  31024.00000
3    ETH   BUY   0.02340  45.06840   1926.00000
4  MATIC   BUY  39.00000  24.79000      0.63564
5    SOL   BUY   0.85000  38.59890     45.41047
6    SOL  SELL   0.23000  10.24650     44.55000

In [140]:
df_net_summary=df_summary.copy()
df_net_summary=df_summary.drop(columns=['AvgPrice'])
def negative_val_for_sell(item):
    if item['Type']=='SELL':
        item['Amount']=item['Amount']*-1
        item['Total']=item['Total']*-1
        
    return item    
df_net_summary=df_net_summary.apply(negative_val_for_sell,axis=1) 
df_net_summary

  Symbol  Type    Amount     Total
0    BNB   BUY   0.08500  26.87270
1    BTC   BUY   0.00168  51.92014
2    BTC  SELL  -0.00033 -10.23792
3    ETH   BUY   0.02340  45.06840
4  MATIC   BUY  39.00000  24.79000
5    SOL   BUY   0.85000  38.59890
6    SOL  SELL  -0.23000 -10.24650

In [141]:
def get_current_price(item):
    symbol_pair=f"{item['Symbol']}{main_pair}"
    current_price =float( client.get_symbol_ticker(symbol=symbol_pair)['price'])
    #current_price_Avg = client.get_avg_price(symbol="BTCUSDT")
    current_price=round(current_price,5)
    return current_price

In [142]:
groupby_cols=['Symbol']
agg_cols=['Amount','Total']
dfNet=df_net_summary.groupby(groupby_cols,as_index=False)[agg_cols].sum()
dfNet['Price']=dfNet.apply(get_current_price,axis=1)

dfNet['CurrentVal']=dfNet['Price']*dfNet['Amount']

dfNet['MyVal']=dfNet['CurrentVal']-dfNet['Total']

dfNet=dfNet[['Symbol','Amount','Price','CurrentVal','MyVal']]

dfNet

  Symbol    Amount      Price  CurrentVal     MyVal
0    BNB   0.08500    303.600   25.806000 -1.066700
1    BTC   0.00135  30001.440   40.501944 -1.180276
2    ETH   0.02340   1832.790   42.887286 -2.181114
3  MATIC  39.00000      0.605   23.595000 -1.195000
4    SOL   0.62000     39.840   24.700800 -3.651600

In [143]:
srNet_Sum=dfNet[['CurrentVal','MyVal']].sum()
dfNet_Sum=srNet_Sum.to_frame("Value")

In [144]:
dfNet_Sum.reset_index(inplace=True)

dfNet_Sum

        index      Value
0  CurrentVal  157.49103
1       MyVal   -9.27469

In [145]:
df_totalBuySell=df_summary.groupby(['Type'],as_index=False)[['Total']].sum()

In [146]:
df_totalBuySell

   Type      Total
0   BUY  187.25014
1  SELL   20.48442

In [147]:
#df_trasns.to_excel(tran2s_path2,index=False)
writer=pd.ExcelWriter(tran2s_path2,engine='xlsxwriter') 

df_totalBuySell.to_excel(writer, sheet_name="Total")
dfNet_Sum.to_excel(writer, sheet_name="PossitionVal",index=False) 
dfNet.to_excel(writer, sheet_name="NetSummary",index=False)   
df_summary.to_excel(writer, sheet_name="SummaryBuySell",index=False)   
df_trasns.to_excel(writer, sheet_name="Detail",index=False)

writer.save()

In [148]:
# https://exchangeratesapi.io/documentation/

In [149]:
if q_start=='' and q_end=='':
 df_trasns.to_excel(master_path,sheet_name='Master_BuySell',index=False)