In [1]:
import pandas as pd
from datetime import datetime
from dotenv import dotenv_values
from binance.client import Client

In [2]:
#https://python-binance.readthedocs.io/en/latest/binance.html?highlight=get_avg_price#binance.client.Client.get_avg_price
#https://binance-docs.github.io/apidocs/spot/en/#current-average-price
#https://python-binance.readthedocs.io/en/latest/_modules/binance/client.html?highlight=get_avg_price#

In [3]:
root_path=r'D:\BlockChain-World\Video\DeFi Usage\AAA_DeFi_Doc_TRansaction\Transaction'

buildtime = datetime.now().strftime('%d%m%y_%H%M')


# copy file from last export to  Binance Trade History_From2022-02-01.xlsx
trans_path=f'{root_path}\\MasterFile\\MasterBinance Trade History_From2022-02-01.xlsx'


tran2s_path2=f'{root_path}\\Summary_TradeHistory_From2022-02-01_At_{buildtime}.xlsx'


add_path=f'{root_path}\\MasterFile\\Addtional_TranancTrade OutOfBN-Trade.xlsx'

coinPairList=['USDT','BUSD','USDC','DAI','']

fund_path=r'D:\AB_DB\AB_Cryptos_Files\database\crypto_db.db'

path_config=r'D:\AB_DB\Script_ImportData'

colsList=['DateTime(UTC)','Symbol','Type','Price','Amount','Total']
colsDelete=['Date(UTC)','Market','Fee','Fee Coin']



main_pair='USDT'
#colsList=['DateTime(UTC)','Symbol','PairCoin','Market','Type','Price','Amount','Total','Fee','Fee Coin']

In [4]:
config_values= dotenv_values(dotenv_path=f'{path_config}\\.env')
api_key = config_values['bn_key']
api_secret =config_values['bn_secrete']
client=Client(api_key,api_secret)

In [5]:
df_trasns=pd.read_excel(trans_path,engine='openpyxl')
df_trasns['DateTime(UTC)']=pd.to_datetime(df_trasns['Date(UTC)'],format='%Y-%m-%d %H:%M:%S')
df_trasns.info()
df_trasns.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date(UTC)      320 non-null    object
 1   Market         320 non-null    object
 2   Type           320 non-null    object
 3   Price          320 non-null    float64
 4   Amount         320 non-null    float64
 5   Total          320 non-null    float64
 6   Fee            320 non-null    float64
 7   Fee Coin       320 non-null    object
 8   DateTime(UTC)  320 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 22.6+ KB

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,DateTime(UTC)
315,2022-05-16 12:02:31,USDCBUSD,SELL,0.9999,100.0000,99.990000,0.000000,BNB,2022-05-16 12:02:31
316,2022-05-15 06:36:09,BUSDUSDT,BUY,1.0015,13.0000,13.019500,0.000000,BNB,2022-05-15 06:36:09
317,2022-05-15 06:34:47,BUSDUSDT,BUY,1.0015,249.0000,249.373500,0.000000,BNB,2022-05-15 06:34:47
318,2022-05-15 06:17:29,ETHBUSD,SELL,2024.9900,0.0062,12.554938,0.000032,BNB,2022-05-15 06:17:29
319,2022-05-14 19:28:48,BUSDUSDT,BUY,1.0014,118.0000,118.165200,0.000000,BNB,2022-05-14 19:28:48

In [6]:
df_addTran=pd.read_excel(add_path,engine='openpyxl')
df_addTran.info()
df_addTran.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  14 non-null     datetime64[ns]
 1   Symbol         14 non-null     object
 2   Type           14 non-null     object
 3   Price          14 non-null     float64
 4   Amount         14 non-null     float64
 5   Total          14 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 800.0+ bytes

         DateTime(UTC) Symbol  Type     Price     Amount      Total
9  2022-02-17 08:00:00   AVAX   BUY  90.91000   0.352001  32.000382
10 2022-03-07 08:00:00   AVAX  SELL  72.09000   0.950000  68.485500
11 2022-03-07 08:00:00   AVAX  SELL  75.92000   0.662663  50.309348
12 2022-05-10 08:00:00    SOL  SELL  67.05000   0.200000  13.410000
13 2022-05-10 14:00:00    UST  SELL   0.90125  10.000000   9.012500

In [7]:
def replance_pair_coin_with_empty(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=x.replace(pair,'')
        
   return x     
def sete_pair_coin_with(x):
   for pair in coinPairList:
    if x.endswith(pair):
        x=pair       
   return x     
print("List All transaction in Binance")           
df_trasns['Symbol']=df_trasns['Market']               
df_trasns['Symbol']=df_trasns['Market'].apply( replance_pair_coin_with_empty)
# df_trasns['PairCoin']=df_trasns['Market'].apply( sete_pair_coin_with)

# exclude stablecoin
df_trasns=df_trasns[ ~df_trasns['Symbol'] .isin(coinPairList)]


df_trasns=df_trasns.drop(columns=colsDelete)
df_trasns=df_trasns[colsList]
df_trasns.info()
df_trasns

List All transaction in Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 318
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  299 non-null    datetime64[ns]
 1   Symbol         299 non-null    object
 2   Type           299 non-null    object
 3   Price          299 non-null    float64
 4   Amount         299 non-null    float64
 5   Total          299 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 16.4+ KB

          DateTime(UTC) Symbol  Type      Price    Amount      Total
0   2022-04-29 17:48:54   AVAX  SELL     64.490   0.21000  13.542900
1   2022-04-29 17:48:08   AVAX  SELL     64.640   0.22000  14.220800
2   2022-04-29 16:57:48    ETH  SELL   2809.830   0.00380  10.677354
3   2022-04-29 16:40:54  MATIC  SELL      1.174  17.90000  21.014600
4   2022-04-29 14:46:35  MATIC  SELL      1.185  15.30000  18.130500
..                  ...    ...   ...        ...       ...        ...
310 2022-05-17 14:01:50    SOL   BUY     57.160   0.23000  13.146800
311 2022-05-17 14:00:36   AVAX   BUY     35.030   0.45000  15.763500
312 2022-05-17 13:58:36    BTC   BUY  30500.010   0.00065  19.825007
313 2022-05-17 13:57:54    ETH   BUY   2101.910   0.00710  14.923561
318 2022-05-15 06:17:29    ETH  SELL   2024.990   0.00620  12.554938

[299 rows x 6 columns]

In [8]:
print("Concate addtional transaction out of Binance")
df_trasns=pd.concat([df_trasns,df_addTran])
df_trasns=df_trasns.sort_values(by='DateTime(UTC)', ascending=False)
df_trasns.info()
df_trasns

Concate addtional transaction out of Binance
<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 301 to 235
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  313 non-null    datetime64[ns]
 1   Symbol         313 non-null    object
 2   Type           313 non-null    object
 3   Price          313 non-null    float64
 4   Amount         313 non-null    float64
 5   Total          313 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 17.1+ KB

          DateTime(UTC) Symbol  Type       Price     Amount       Total
301 2022-05-18 12:56:20    ETH  SELL   1999.9900    0.00660   13.199934
303 2022-05-18 12:48:55  MATIC  SELL      0.6880    7.10000    4.884800
302 2022-05-18 12:48:55  MATIC  SELL      0.6880   10.70000    7.361600
304 2022-05-17 16:22:25    BTC  SELL  29909.3300    0.00035   10.468265
305 2022-05-17 15:18:06   AVAX  SELL     33.3900    0.32000   10.684800
..                  ...    ...   ...         ...        ...         ...
231 2022-01-17 16:23:15    UST   BUY      1.0007  179.00000  179.125300
232 2022-01-13 05:17:12    UST   BUY      1.0004  151.00000  151.060400
233 2022-01-12 07:53:03    UST   BUY      1.0004  149.00000  149.059600
234 2022-01-03 04:50:39    UST   BUY      1.0018    9.00000    9.016200
235 2022-01-03 04:48:17    UST   BUY      1.0018  149.00000  149.268200

[313 rows x 6 columns]

In [9]:
# symbol="SOL"
# xxx=df_trasns.query("Symbol==@symbol")
# xxx
print("Show dupplicated record")
duplicateRows = df_trasns[df_trasns.duplicated(keep=False)]
print(duplicateRows.info())
duplicateRows

Show dupplicated record
<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 262 to 185
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  46 non-null     datetime64[ns]
 1   Symbol         46 non-null     object
 2   Type           46 non-null     object
 3   Price          46 non-null     float64
 4   Amount         46 non-null     float64
 5   Total          46 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 2.5+ KB
None

          DateTime(UTC) Symbol  Type         Price     Amount       Total
262 2022-05-11 14:26:31   AVAX  SELL     35.640000    0.56000   19.958400
285 2022-05-11 14:26:31   AVAX  SELL     35.640000    0.56000   19.958400
286 2022-05-11 13:54:42    SOL  SELL     56.010000    0.33000   18.483300
263 2022-05-11 13:54:42    SOL  SELL     56.010000    0.33000   18.483300
264 2022-05-11 13:35:48    UST  SELL      0.394409   50.00000   19.720450
287 2022-05-11 13:35:48    UST  SELL      0.394409   50.00000   19.720450
288 2022-05-11 13:21:20    UST  SELL      0.390000  150.00000   58.500000
265 2022-05-11 13:21:20    UST  SELL      0.390000  150.00000   58.500000
289 2022-05-11 13:20:45    UST  SELL      0.370000   50.00000   18.500000
266 2022-05-11 13:20:45    UST  SELL      0.370000   50.00000   18.500000
290 2022-05-11 13:06:49    UST  SELL      0.323156   50.00000   16.157800
267 2022-05-11 13:06:49    UST  SELL      0.323156   50.00000   16.157800
291 2022-05-11 13:03:41    UST  SELL      0.318938  112.00000   35.721056
268 2022-05-11 13:03:41    UST  SELL      0.318938  112.00000   35.721056
269 2022-05-11 13:00:25    UST  SELL      0.295937  100.00000   29.593700
292 2022-05-11 13:00:25    UST  SELL      0.295937  100.00000   29.593700
293 2022-05-11 12:07:37  MATIC  SELL      0.839000   12.20000   10.235800
270 2022-05-11 12:07:37  MATIC  SELL      0.839000   12.20000   10.235800
271 2022-05-10 21:14:41    UST  SELL      0.894800  100.00000   89.480000
294 2022-05-10 21:14:41    UST  SELL      0.894800  100.00000   89.480000
260 2022-05-10 15:58:27    UST  SELL      0.905500  188.00000  170.234000
257 2022-05-10 15:58:27    UST  SELL      0.905500  188.00000  170.234000
258 2022-05-10 15:57:29    UST  SELL      0.905400  200.00000  181.080000
261 2022-05-10 15:57:29    UST  SELL      0.905400  200.00000  181.080000
205 2022-05-08 18:03:33    BNB  SELL    354.100000    0.04200   14.872200
256 2022-05-08 18:03:33    BNB  SELL    354.100000    0.04200   14.872200
223 2022-05-05 03:02:44   AVAX  SELL     68.000000    0.24000   16.320000
192 2022-05-05 03:02:44   AVAX  SELL     68.000000    0.24000   16.320000
193 2022-05-04 18:54:03   AVAX  SELL     64.300000    0.25000   16.075000
224 2022-05-04 18:54:03   AVAX  SELL     64.300000    0.25000   16.075000
225 2022-05-04 18:49:15    ETH  SELL   2899.000000    0.00410   11.885900
194 2022-05-04 18:49:15    ETH  SELL   2899.000000    0.00410   11.885900
195 2022-05-04 11:27:02    ETH  SELL   2880.000000    0.00420   12.096000
226 2022-05-04 11:27:02    ETH  SELL   2880.000000    0.00420   12.096000
228 2022-05-03 19:23:58    SOL  SELL     85.040000    0.10000    8.504000
227 2022-05-03 19:23:58    SOL  SELL     85.040000    0.04000    3.401600
196 2022-05-03 19:23:58    SOL  SELL     85.040000    0.04000    3.401600
197 2022-05-03 19:23:58    SOL  SELL     85.040000    0.10000    8.504000
182 2022-05-01 06:05:58   AVAX  SELL     60.000000    0.24000   14.400000
201 2022-05-01 06:05:58   AVAX  SELL     60.000000    0.24000   14.400000
202 2022-05-01 04:48:06    BNB  SELL    382.100000    0.04600   17.576600
183 2022-05-01 04:48:06    BNB  SELL    382.100000    0.04600   17.576600
203 2022-05-01 04:46:32    BTC  SELL  37951.410000    0.00033   12.523965
184 2022-05-01 04:46:32    BTC  SELL  37951.410000    0.00033   12.523965
204 2022-05-01 04:45:28    ETH  SELL   2771.100000    0.00460   12.747060
185 2022-05-01 04:45:28    ETH  SELL   2771.100000    0.00460   12.747060

In [10]:
required_drop_dup=True

In [11]:
if required_drop_dup:
    df_trasns=df_trasns.drop_duplicates(keep='first')
    df_trasns.info()
    df_trasns.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 301 to 235
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime(UTC)  290 non-null    datetime64[ns]
 1   Symbol         290 non-null    object
 2   Type           290 non-null    object
 3   Price          290 non-null    float64
 4   Amount         290 non-null    float64
 5   Total          290 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 15.9+ KB

In [12]:
duplicateRows = df_trasns[df_trasns.duplicated()]
if(len(duplicateRows)>0):
    raise ("Keep having duplicated rows")
else:
    print("no duplicated rows")

no duplicated rows

In [13]:
print("Agg transaction")
groupby_cols=['Symbol','Type']
agg_cols=['Amount','Total']
df_summary=df_trasns.groupby(groupby_cols,as_index=False)[agg_cols].sum()
df_summary['AvgPrice']=df_summary['Total']/df_summary['Amount']
df_summary=df_summary.round(5)
df_summary

Agg transaction

   Symbol  Type      Amount       Total     AvgPrice
0    ATOM   BUY    13.48000   398.44960     29.55858
1    ATOM  SELL    14.05000   356.18690     25.35138
2    AVAX   BUY    11.69755   883.73023     75.54832
3    AVAX  SELL    10.60432   695.22469     65.56052
4     BNB   BUY     1.32727   527.08970    397.12322
5     BNB  SELL     0.49800   181.37480    364.20643
6     BTC   BUY     0.00731   299.04503  40909.03301
7     BTC  SELL     0.00375   149.64358  39904.95411
8     ETH   BUY     0.23360   653.54343   2797.70305
9     ETH  SELL     0.16088   438.45460   2725.30295
10   LUNA   BUY     0.35000    29.38950     83.97000
11   LUNA  SELL     0.35000    24.13950     68.97000
12  MATIC   BUY   373.19925   590.36317      1.58190
13  MATIC  SELL   347.93796   421.89507      1.21256
14    SOL   BUY     5.15000   480.72550     93.34476
15    SOL  SELL     4.22047   360.43063     85.40061
16    UST   BUY  2886.00000  2889.22210      1.00112
17    UST  SELL  2933.00000  2453.15171      0.83640

In [14]:
df_net_summary=df_summary.copy()
df_net_summary=df_summary.drop(columns=['AvgPrice'])
def negative_val_for_sell(item):
    if item['Type']=='SELL':
        item['Amount']=item['Amount']*-1
        item['Total']=item['Total']*-1
        
    return item    
df_net_summary=df_net_summary.apply(negative_val_for_sell,axis=1) 
df_net_summary

   Symbol  Type      Amount       Total
0    ATOM   BUY    13.48000   398.44960
1    ATOM  SELL   -14.05000  -356.18690
2    AVAX   BUY    11.69755   883.73023
3    AVAX  SELL   -10.60432  -695.22469
4     BNB   BUY     1.32727   527.08970
5     BNB  SELL    -0.49800  -181.37480
6     BTC   BUY     0.00731   299.04503
7     BTC  SELL    -0.00375  -149.64358
8     ETH   BUY     0.23360   653.54343
9     ETH  SELL    -0.16088  -438.45460
10   LUNA   BUY     0.35000    29.38950
11   LUNA  SELL    -0.35000   -24.13950
12  MATIC   BUY   373.19925   590.36317
13  MATIC  SELL  -347.93796  -421.89507
14    SOL   BUY     5.15000   480.72550
15    SOL  SELL    -4.22047  -360.43063
16    UST   BUY  2886.00000  2889.22210
17    UST  SELL -2933.00000 -2453.15171

In [15]:
def get_current_price(item):
    symbol_pair=f"{item['Symbol']}{main_pair}"
    current_price =float( client.get_symbol_ticker(symbol=symbol_pair)['price'])
    #current_price_Avg = client.get_avg_price(symbol="BTCUSDT")
    current_price=round(current_price,5)
    return current_price

In [16]:
groupby_cols=['Symbol']
agg_cols=['Amount','Total']
dfNet=df_net_summary.groupby(groupby_cols,as_index=False)[agg_cols].sum()
dfNet['Price']=dfNet.apply(get_current_price,axis=1)

dfNet['CurrentVal']=dfNet['Price']*dfNet['Amount']

dfNet['MyVal']=dfNet['CurrentVal']-dfNet['Total']

dfNet=dfNet[['Symbol','Amount','Price','CurrentVal','MyVal']]

dfNet

  Symbol    Amount        Price  CurrentVal       MyVal
0   ATOM  -0.57000     10.17000   -5.796900  -48.059600
1   AVAX   1.09323     28.99000   31.692738 -156.812802
2    BNB   0.82927    295.70000  245.215139 -100.499761
3    BTC   0.00356  29108.55000  103.626438  -45.775012
4    ETH   0.07272   1952.59000  141.992345  -73.096485
5   LUNA   0.00000      0.00005    0.000000   -5.250000
6  MATIC  25.26129      0.63100   15.939874 -152.528226
7    SOL   0.92953     50.52000   46.959856  -73.335014
8    UST -47.00000      0.24578  -11.551660 -447.622050

In [17]:
srNet_Sum=dfNet[['CurrentVal','MyVal']].sum()
dfNet_Sum=srNet_Sum.to_frame("Value")

In [18]:
dfNet_Sum.reset_index(inplace=True)

dfNet_Sum

        index        Value
0  CurrentVal   568.077829
1       MyVal -1102.978951

In [19]:
df_totalBuySell=df_summary.groupby(['Type'],as_index=False)[['Total']].sum()

In [20]:
df_totalBuySell

   Type       Total
0   BUY  6751.55826
1  SELL  5080.50148

In [21]:
#df_trasns.to_excel(tran2s_path2,index=False)
writer=pd.ExcelWriter(tran2s_path2,engine='xlsxwriter') 
df_totalBuySell.to_excel(writer, sheet_name="Total")
dfNet_Sum.to_excel(writer, sheet_name="PossitionVal",index=False) 
dfNet.to_excel(writer, sheet_name="NetSummary",index=False)   
df_summary.to_excel(writer, sheet_name="SummaryBuySell",index=False)   
df_trasns.to_excel(writer, sheet_name="Detail",index=False)

writer.save()

In [44]:
# https://exchangeratesapi.io/documentation/